@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Implement Code Coverage in the build";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, null, new DevOpsMenuViewModel(false, false, false, false, false, true, false, false), null, null))
                <hr />

                <span class="DevOpsTFSWarning">Note that this page contains only Azure DevOps content. There is no TFS 2015 option for code coverage currently documented.</span><br />

                <a name="1" class="anchor"></a>
                <h3>Overview</h3>
                <b>Code coverage is a metric that allows us to measure the reach of our automated unit tests.</b> It is not a measure of quality, but if a feature is added and code coverage drops, it indicates that the test may not be effective to cover the new code. There are Azure DevOps widgets that can be posted on the dashboard to track current code coverage and code coverage changes over time.<br />
                <img src="~/images/DevOps/CI/CICodeCoverage1.png" class="DevOpsImage" /><br /><br />
                <hr />

                <a name="2" class="anchor"></a>
                <h3>How to setup</h3>

                <a name="2_1" class="anchor"></a>
                <b>Setup the test task for code coverage</b><br /><br />
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#vsts_a_1">VSTS .Net Framework</a></li>
                    <li class="active"><a data-toggle="tab" href="#vsts_b_1">VSTS .Net Core</a></li>
                </ul>
                <div class="tab-content">
                    <br />
                    <div id="vsts_a_1" class="tab-pane fade">
                        In the "Test Assemblies" task, in the execution options section, just check the "Code Coverage" checkbox. That is it for .NET Frameworks!<br />
                        <img src="~/images/DevOps/CI/CICodeCoverage2.png" class="DevOpsImage" /><br /><br />
                    </div>
                    <div id="vsts_b_1" class="tab-pane fade in active">
                        Step 1: In the .Net Core "Test" task, add "--collect "Code Coverage" in the Arguments, and check the "Publish test results and code coverage checkbox underneath the "Arguments" textbox
                        <div class="codeHeader lang-html" data-bi-name="code-header">
                            <span class="language">.Net Core Test - Arguments</span>
                            <button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtRunsettings')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
                        </div>
                        <pre id="txtRunsettings">
--configuration $(BuildConfiguration) --collect "Code coverage"
</pre>
                        <br />
                        <img src="~/images/DevOps/CI/CICodeCoverage3.png" class="DevOpsImage" /><br /><br />

                        Step 2: Now a code coverage file can be downloaded and opened in Visual Studio (this should match the code coverage that is calculated in Visual Studio). Additionally, metrics will now appear correctly on the project dashboard.<br /><br />
                    </div>
                </div>
                <hr />

                <a name="4" class="anchor"></a>
                <b>Further reading:</b>
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Code_coverage" target="_blank">Code Coverage [Wikipedia]</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/dotnet-core?view=vsts&tabs=designer#collect-code-coverage" target="_blank">.Net Core Code Coverage [Microsoft.com documentation]</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/rest/api/vsts/test/code%20coverage?view=vsts-rest-5.0" target="_blank">Code Coverage [Microsoft.com documentation]</a></li>
                    <li><a href="https://confluence.atlassian.com/clover/about-code-coverage-71599496.html" target="_blank">About Code Coverage [Atlassian.com documentation]</a></li>
                </ul>
                <hr />

                <a name="5" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>27-Nov-2018: Updated .NET Core Code Coverage content</li>
                    <li>22-Sep-2018: Initial release of Code Coverage content</li>
                </ul>
            </div>
        </div>
    </div>
</div>
