@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Current build servers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, null, new DevOpsMenuViewModel(false, true, false, false, false, false, false, false), null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Overview</h3>
                As well as the "Hosted" and "Hosted VS2017" Azure DevOps cloud build agents, there are currently have 5 private build servers for Azure DevOps use. In general, we should be using a private server:
                <table class="table table-border">
                    <tr>
                        <th>Build server</th>
                        <th>Project</th>
                        <th>Azure DevOps agent queue</th>
                        <th>Build server notes</th>
                        <th>Test agent pool &amp agents</th>
                    </tr>
                    <tr>
                        <td><b>WTRVSTSBUILD1V</b></td>
                        <td>Everything not agile or containers</td>
                        <td><a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=11" target="_blank"><b>OnPremiseBuild1</b></a></td>
                        <td>Used for general Azure DevOps builds and a full version of Visual Studio 2017 is installed.</td>
						<td rowspan="5" class="DevOpsBuildTestAgentColumn">
							<a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=45" target="_blank"><b>OnPremiseTestAgent</b></a><br /> Contains the test agent servers:<br />
							<b>WTRVMW-BDCAGE-1</b><br />
							<b>WTRVMW-ENTAGE-1</b><br />
							<b>WTRVMW-GXCAGE-1</b><br />
							<b>WTRVMW-QAAGE-1</b>
						</td>
                    </tr>
                    <tr>
                        <td><b>WTRVSTSBUILD2V</b></td>
                        <td>Bain.Com</td>
                        <td><a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=52" target="_blank"><b>OnPremiseBDCBuild2</b></a></td>
                        <td>Used for Bain.com Azure DevOps builds and a full version of Visual Studio 2017 with NodeJS is installed</td>
                    </tr>
                    <tr>
                        <td><b>WTRVSTSBUILD3V</b></td>
                        <td>GXC</td>
                        <td><a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=28" target="_blank"><b>OnPremiseGXCBuild3</b></a></td>
                        <td>Used for GXC Azure DevOps builds and a full version of Visual Studio 2017 with NodeJS is installed</td>
                    </tr>
                    <tr>
                        <td><b>WTRVSTSBUILD5V</b></td>
                        <td>Enterprise Search</td>
                        <td><a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=48" target="_blank"><b>OnPremiseEntSearchBuild5</b></a></td>
                        <td>Used for Enterprise Search/Compass Azure DevOps builds and a full version of Visual Studio 2017 with NodeJS is installed</td>
                    </tr>
                    <tr>
                        <td><b>AZ2VSTSBUILD4</b></td>
                        <td>Docker container builds &amp; and Data Warehouse</td>
                        <td><a href="https://bain.visualstudio.com/_admin/_AgentPool?_a=agents&poolId=36" target="_blank"><b>OnPremiseContainerBuild4</b></a></td>
                        <td>Used for general Azure DevOps builds and a full version of Visual Studio 2017, NodeJS, Docker Containers and SSDT with support for SQL DTProj files is installed.</td>                        
                    </tr>
					<tr>
                        <td><b>PAS Placeholder (TBD)</b></td>
                        <td>PAS</td>
                        <td><b>TBD</b></td>
                        <td>Placeholder for PAS</td>
						<td>WTRVMW-PASAGE-1</td>
                    </tr>
                </table>
                <hr />
                Additionally, there are 2 private build servers for TFS 2015 use:
                <ul>
                    <li><b>WTRTFSBUILD3V</b>: Used for TFS 2015 builds and a full version of Visual Studio 2017 is installed. This is accessed by using the agent queue "TFS2015BuildPool"</li>
                    <li><b>WTRTFSBUILD4V</b>: Used for QA Selenium builds and a full version of Visual Studio 2015 is installed. This is accessed by using the agent queue "QAAutomationBuildPool"</li>
                </ul>

                <hr />         

                <a name="4" class="anchor"></a>
                <b>Further reading:</b>
                <ul>
                    <li><a href="https://www.visualstudio.com/en-us/docs/build/apps/aspnet/ci/build-aspnet-4" target="_blank">Build your ASP.NET 4 app [Microsoft.com ASP.NET build overview]</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/aspnet/web-forms/overview/deployment/web-deployment-in-the-enterprise/understanding-the-build-process" target="_blank">Understanding the build process [Microsoft.com detailed documentation]</a></li>
                </ul>
                <hr />

                <a name="5" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>20-Sep-2018: Content updated to replace most references of VSTS with Azure DevOps to match rebranding</li>
                    <li>20-Aug-2018: Split server information from the "Setup Build" page</li>
                </ul>
            </div>
        </div>
    </div>
</div>
