@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Create a new test agent server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, null, new DevOpsMenuViewModel(false, false, false, false, true, false, false, false), null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Overview</h3>
                <b>A test agent server is a tool that enables continuous automated testing. </b>It enables us to constantly create reproducible and traceable packages that can be tested in various environments. As more code and people are added, eventually one test server will not have enought capacity and more will need to be created.<br />
                <hr />

                <a name="2" class="anchor"></a>
                <h3>To setup a new test agent</h3>
                <br />
				<ul>
					<li>Request the latest Windows Workstation laptop build on a VM (currently Windows 10)</li>
					<li>Ensure it is added to the "Global Remote Desktop Computers" AD group</li>
					<li>Ensure the C: has 100GB</li>
					<li>Install the full version of Visual Studio 2017 on the C:. You will need 50GB of space (hence the C:\ request in the previous step)</li>
					<li>
						Ensure that the VM has 64MB of video memory so that you can set the resolution to 1920x1080 <b>in the vSphere Console</b><br />
						<img src="~/images/DevOps/CI/CINewVSTSTestServer7.png" class="DevOpsImage" /><br />
					</li>
					<li>Find a Azure DevOps Project Collection administrator, who has access to setup the agent pool - this user needs to be logged in on the build server to setup the agent</li>
					<li>Browse to <a href="https://bain.visualstudio.com/_admin/_AgentPool" target="_blank">Agent Pools</a> and create a new agent pool or use one of the existing pools</li>
					<li>
						Follow these instructions to install the agent on the server: <a href="https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows" target="_blank">Instructions to install a new agent</a>, using https://bain.visualstudio.com as the server URL, c:\_work as the work folder, and the personal access token below: (Typically a zip is downloaded, unzipped to C:\agent, and then the .config script is run)<br />
						As this is a test agent, do not set the agent as a service, but configure autologon and run the agent on startup with the relevant user and password. <br />
						In this case, "WTRVMW-GXCAGE-1" was added to the "OnPremiseTestAgent" agent pool, and then "bain\20001" (TSG Ted) was setup as the agent user.
						<div class="codeHeader lang-html" data-bi-name="code-header">
							<span class="language">Personal access token (Note that this code expires 10-Nov-2018)</span>
							<button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtToken')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
						</div>
						<pre id="txtToken">uibojq2kw3aiiw6zqvc6tmzdf4zwcybc6foymlmb2ipwu7tzu34a</pre><br />
						<img src="~/images/DevOps/CI/CINewVSTSTestServer1a.png" class="DevOpsImage" /><br /><br />
					</li>
					<li>
						Note that for each user that tests will be run as, the user needs to first manually log into the new server to manually configure the browsers with the correct authentication settings before starting the automated test.
						<ol>
							<li>It turns out this can all be done in IE/Internet Explorer (Chrome inherits its settings). Open IE, open the Internet Options and then select the "Security" tab</li>
							<li>
								Ensure that "Enable Protected Mode" is checked on the Internet, Local Intranet, and Trusted sites nodes
								<img src="~/images/DevOps/CI/CINewVSTSTestServer2.png" class="DevOpsImage" /><br />
								<img src="~/images/DevOps/CI/CINewVSTSTestServer4.png" class="DevOpsImage" /><br />
							</li>
							<li>
								On the trusted sites tab, click the "Sites" button, remove the site that is there and add "http://*.bain.com" and "https://*.bain.com"<br />
								<img src="~/images/DevOps/CI/CINewVSTSTestServer5.png" class="DevOpsImage" /><br />
							</li>
							<li>
								On the trusted sites tab, click the "Custom level" button, scroll right to the bottom, and check the "Automatic logon with current user name and password"<br />
								<img src="~/images/DevOps/CI/CINewVSTSTestServer6.png" class="DevOpsImage" /><br />
							</li>
						</ol>
						<br />
					</li>
				</ul>

                <hr />

                <a name="3" class="anchor"></a>
                <b>Further reading:</b>
                <ul>
                    <li><a href="https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/" target="_blank">Testing with unified agents and phases [Microsoft Blog about the testing roadmap]</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents#account" target="_blank">Build and Release Agents [Microsoft Documentation]</a></li>
                </ul>
                <br />

                <a name="4" class="anchor"></a>
                <b>Version history:</b>
				<ul>
                    <li>20-Sep-2018: Content updated to replace most references of VSTS with Azure DevOps to match rebranding</li>
                    <li>6-Feb-2018: Initial creation of new automated testing content</li>
                    <li>30-May-2018: Revised for new Workstations by Alex</li>
				</ul>
            </div>
        </div>
    </div>
</div>
