@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Code reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, new DevOpsMenuViewModel(false, false, false, false, false, false, true, false), null, null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Code Reviews</h3>
                <div>
                    To perform a code review, click on the files tab in the pull request. All of the files that have been changed are on the left, and a code review can be performer by highlighting text and clicking the little speech bubble icon. In this case, Ed is code reviewing some code and found a style tag that should be a class.<br />
                    <img src="~/images/DevOps/Code/EdCodeReview1.png" class="DevOpsImage" /><br /><br />

                    This comment sends a notification to the pull request creator and appears in the overview secrtion of the pull request. The creator can add comments, or even better, take action on the code review.<br />
                    <img src="~/images/DevOps/Code/EdCodeReview2.png" class="DevOpsImage" /><br /><br />

                    Once the creator has taken action and pushed their changes, the pull request is intelligent enough to show the updated code, and Ed is able to resolve the issue. We can use settings in the branch policies to decide if all issues should be resolved before completing the pull request.<br />
                    <img src="~/images/DevOps/Code/EdCodeReview3.png" class="DevOpsImage" /><br /><br />
                </div>
                <hr />

                <a name="4" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>1-Nov-2017: Added new section</li>
                </ul>
            </div>
        </div>
    </div>
</div>