@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Managing branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, new DevOpsMenuViewModel(false, true, false, false, false, false, false, false), null, null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Branching</h3>
                <div>
                    <b>Branching is useful in DevOps.</b> Our preferred method of branching is feature branching. The basic idea is that when you start work on a user story, you create an isolated copy (branch) of the code to work on the feature. After completing the development (ensuring that the work has unit tests and is well tested), the feature branch is merged back into the master branch.<br /><br />

                    The basic feature branch process includes:
                    <ul>
                        <li>Pull/Sync the latest changes into master branch</li>
                        <li>Create the new feature branch from master branch</li>
                        <li>Develop in the feature branch</li>
                        <li>Commit and push the feature branch back to VSTS</li>
                        <li>Create a pull request to merge the feature branch with the master branch</li>
                    </ul>
                    <img src="~/images/DevOps/Code/FeatureBranch.png" class="DevOpsImage" /><br /><br />

                    To create a branch, in the "branches" tab of Team Explorer, click "New Branch". Best practice is to group your branches by sprint, prefixing with a folder name and "/" character, but it's ok to not use branch folders too<br />
                    <img src="~/images/DevOps/Code/BranchesSubFolders.png" class="DevOpsImage" /><br /><br />

                    To switch between branches, just double click on a branch or right click and "check out" the branch. Note that you can't change a branch with uncommitted changes. To retrieve a branch that is located on the server and not your local repository, expand the "remotes/origin" folder and find your branch located in VSTS there.<br />
                    <img src="~/images/DevOps/Code/BranchesSubFolders2.png" class="DevOpsImage" /><br /><br />
                    <hr />

                    <a name="3" class="anchor"></a>
                    <b>Further reading:</b>
                    <ul>
                        <li><a href="https://docs.microsoft.com/en-us/vsts/git/manage-your-branches" target="_blank">Manage Branches in VSTS [Microsoft.com documentation]</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/vsts/git/tutorial/branches?tabs=visual-studio" target="_blank">Create work in branches [Microsoft.com documentation]</a></li>
                        <li><a href="https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow" target="_blank">Feature Branching [Atlassian.com documentation]</a></li>
                        <li><a href="https://trunkbaseddevelopment.com/" target="_blank">Trunk based development for DevOps</a></li>
                    </ul>
                </div>
                <hr />

                <a name="4" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>1-Nov-2017: Added new section</li>
                </ul>
            </div>
        </div>
    </div>
</div>