@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Managing code for DevOps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, new DevOpsMenuViewModel(true, false, false, false, false, false, false, false), null, null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Overview</h3>
                @*Add a section that details the types of process we expect before code is pushed. Merges. Unit tests and checking code coverage. Code Analysis. Selenium Tests.*@
                <div>
                    <b>When it comes to managing our code for DevOps, using a Git respository in VSTS is the tool of choice in the TSG Software group.</b> VSTS allows us have a complete work flow, from development through to deployment. All of this is managed in the "Code" section of VSTS.
                    <br /><br />
                    <img src="~/images/DevOps/Code/VSTSCodeOverview.png" class="DevOpsImage" /><br />
                    <hr />

                    The process includes three major steps:
                    <ul>
                        <li><b>Managing feature branches and linking work items to the branch</b>: Once we have a work item, the team starts by creating a new feature branch off the work item to start the work, helping the team to seperate our development safely from the master branch. This also helps to provide an audit trail for anyone on the team, to see the progress of the work and where it is deployed</li>
                        <li><b>Develop the featuer</b>: where the team does the engineering, coding the feature, updating unit tests and ensuring it's a quality feature</li>
                        <li><b>Managing pull requests</b>: Once the work is completed, the team pushes the change back to VSTS and starts a Pull Request to bring all of the code together, helping to ensure branches can be merged with the right mix of build validation and code reviews to deliver quality code</li>
                    </ul>
                    <img src="~/images/DevOps/Code/FeatureBranch.png" class="DevOpsImage" /><br />
                    <hr />
                </div>

                <a name="4" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>1-Nov-2017: Added new code section</li>
                </ul>
            </div>
        </div>
    </div>
</div>