@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Resolving branch conflicts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, new DevOpsMenuViewModel(false, false, true, false, false, false, false, false), null, null, null))
                <hr />

                <a name="1" class="anchor"></a>
                <h3>Resolving Branch Conflicts</h3>
                <div>
                    <b>Sometimes, when completing a pull a request, there will be a branch conflict between the feature request and the master branch.</b> To resolve the conflict
                    <ul>
                        <li>Start by switching to the master branch in visual studio and pull/sync the latest changes. Note that the feature branch must have all of the code committed to switch to the master branch</li>
                        <li>
                            Switch back to the feature branch, and on the branches tab of team explorer, click the merge link
                            <br />
                            <img src="~/images/DevOps/Code/MergeFromBranch.png" class="DevOpsImage" /><br /><br />
                        </li>
                        <li>
                            During the merge, it will show the conflict. Click on the "conflicts" link to start the resolution process
                            <br />
                            <img src="~/images/DevOps/Code/MergeFromBranchConflicts.png" class="DevOpsImage" /><br /><br />
                        </li>
                        <li>
                            For each conflict, click on the conflict and the "Merge" button to start the resolution for this particular conflict
                            <br />
                            <img src="~/images/DevOps/Code/MergeFromBranchConflicts2.png" class="DevOpsImage" /><br /><br />
                        </li>
                        <li>
                            Work through the conflicts and resolve the issue. Usually you check either the right side (master branch), left side (feature branch), or both. The final result is shown in the bottom window. In this case, the left (master) branch was more correct than the current (feature) branch. Then commit your changes and push them back to the server.
                            <br />
                            <img src="~/images/DevOps/Code/MergeFromBranchConflicts3.png" class="DevOpsImage" /><br /><br />
                        </li>
                        <li>
                            This will trigger the pull request build to restart and confirm that the merge request is complete. Click the "Commit Merge" button, enter a comment and push the staged code to the pull request to confirm that the conflict is resolved. This process may need to be repeated if there is still a conflict.<br />
                            <img src="~/images/DevOps/Code/MergeFromBranchConflicts4.png" class="DevOpsImage" /><br /><br />
                        </li>
                    </ul>
                    <hr />

                    <a name="3" class="anchor"></a>
                    <b>Further reading:</b>
                    <ul>
                        <li><a href="https://docs.microsoft.com/en-us/vsts/git/manage-your-branches" target="_blank">Manage Branches in VSTS [Microsoft.com documentation]</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/vsts/git/tutorial/branches?tabs=visual-studio" target="_blank">Create work in branches [Microsoft.com documentation]</a></li>
                        <li><a href="https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow" target="_blank">Feature Branching [Atlassian.com documentation]</a></li>
                    </ul>
                </div>
                <hr />

                <a name="4" class="anchor"></a>
                <b>Version history:</b>
                <ul>
                    <li>1-Nov-2017: Added new section</li>
                </ul>
            </div>
        </div>
    </div>
</div>