@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("DevOps", "Index", "DevOps")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, null, null, null, new DevOpsMenuViewModel(true, false, false, false, false, false, false, false)))
                <hr />

                <b>Monitoring is the last stage of DevOps. Effective monitoring is essential to allow DevOps teams to deliver at speed, get feedback from production, and increase customers satisfaction, acquisition and retention.</b> Monitoring helps to provide real time feedback from production, to ensure that feature releases are working as expected, and to help identify opportunities to prioritize in the next sprint.<br /><br />
                <img src="~/images/DevOps/Monitor/Monitoring.png" class="DevOpsImage" /><br /><br />
                
                <ul>
                    <li><b>The first goal of monitoring is to achieve high availability by minimizing time to detect and time to mitigate issues.</b> As soon as issues arise, diagnostic data about the issues are fed back to development teams via automated monitoring.</li>
                    <li><b>A second goal of monitoring is to track usage and differences between versions</b> to allow the team to measure the impact of change and drive future business decisions</li>
                    <li><b>"Telemetry" is the mechanism for collecting data from monitoring.</b> Typically, telemetry will distinguish between the data pipeline optimized for real-time alerting and dashboards and higher-volume data needed for troubleshooting or usage analytics.</li>
                    <li><b>Monitoring is often used to "test in production".</b> A well-monitored deployment streams the data about its health and performance so that the team can spot production incidents immediately. Combined with a Continuous Deployment Release Pipeline, monitoring will detect new anomalies and allow for prompt mitigation. This allows discovery of the “unknown unknowns” in application behavior that cannot be foreseen in pre-production environments.</li>
                </ul>
                <hr />

                <b>Further reading:</b>
                <ul>
                    <li><a href="https://docs.microsoft.com/en-us/azure/devops/what-is-monitoring">What is monitoring? [Microsoft.com DevOps Documentation]</a></li>
                </ul>
                <hr />

                <b>Version history:</b>
                <ul>
                    <li>11-Jul-2018: Initial release of DevOps monitoring content</li>
                </ul>
            </div>
        </div>
    </div>
</div>