@using SamSmithNZ.Service.Models.ITunes;
@using SamSmithNZ.Web.Models.ITunes;
@model PlaylistViewModel
@{
    ViewBag.Title = "Playlist...";
    Layout = "~/Views/Shared/_LayoutITunes.cshtml";
}

<table class="tableofcontents" padding="0" cellspacing="0">
    <tr>
        <td style="width: 100%;">
            <ul style="text-align: left; padding: 0px;">
                <li class="tableofcontentsitem">
                    1. <a href="#TopArtists">Top Artists</a>
                </li>
                <li class="tableofcontentsitem">
                    2. <a href="#BiggestMovers">Biggest Movers</a>
                </li>
                <li class="tableofcontentsitem">
                    3. <a href="#Summary">Summary</a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<a name="TopArtists"></a>
<h2 class="sectionTitle">Top Artists</h2>
@if (Model.TopArtists != null)
{
    <table class="tableborders">
        <tr>
            <th class="headerborders">Artist</th>
            <th class="headerborders">Appearances This Month</th>
        </tr>
        @foreach (TopArtists item in Model.TopArtists)
        {
            <tr class="alternatingColors">
                <td class="cellborders">@item.ArtistName</td>
                <td class="cellborders">@item.ArtistCount</td>
            </tr>

        }
    </table>
}

<a name="BiggestMovers"></a>
<h2 class="sectionTitle">Biggest Movers</h2>
@if (Model.Movements != null)
{
    <table class="tableborders">
        <tr>
            <th class="headerborders">Track</th>
            <th class="headerborders">Change This Month</th>
        </tr>
        @foreach (Movement item in Model.Movements)
        {
            <tr class="alternatingColors">
                <td class="cellborders">@item.TrackName</td>
                <td class="cellborders">+@item.ChangeThisMonth</td>
            </tr>
        }
    </table>
}

<a name="Summary"></a>
<h2 class="sectionTitle">Summary</h2>
@if (Model.Tracks != null)
{
    <table class="tableborders">
        <tr>
            <th class="headerborders">Ranking</th>
            <th class="headerborders">Track Name</th>
            <th class="headerborders">Artist</th>
            <th class="headerborders">Album</th>
            <th class="headerborders">Play Count</th>
        </tr>
        @foreach (Track item in Model.Tracks)
        {
            <tr class="alternatingColors">
                <td class="cellborders">
                    @item.Ranking
                    @if (((item.Ranking - item.PreviousRanking) * -1) > 0)
                    {
                        <span>(+@((item.Ranking - item.PreviousRanking) * -1))</span>
                    }
                    @if (((item.Ranking - item.PreviousRanking) * -1) < 0)
                    {
                        <span>(@((item.Ranking - item.PreviousRanking) * -1))</span>
                    }
                </td>
                <td class="cellborders">@item.TrackName</td>
                <td class="cellborders">@item.ArtistName</td>
                <td class="cellborders">@item.AlbumName</td>
                <td class="cellborders">
                    @item.PlayCount
                    @if ((item.PlayCount - item.PreviousPlayCount) > 0)
                    {
                        <span>(+@((item.PlayCount - item.PreviousPlayCount)))</span>
                    }
                    @if ((item.PlayCount - item.PreviousPlayCount) < 0)
                    {
                        <span>(@((item.PlayCount - item.PreviousPlayCount)))</span>
                    }
                </td>
            </tr>
        }
    </table>
}
