@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model GroupViewModel
@{
    ViewBag.Title = "Group details";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
    int groupCounter = 0;
    for (groupCounter = 0; groupCounter < Model.GroupCodes.Count; groupCounter++)
    {
        if (Model.GroupCodes[groupCounter].Text == Model.RoundCode)
        {
            break;
        }
    }
}
<script>
    //https://jqueryui.com/accordion/#default
    //Set the starting div
    $(function () {
        $("#accordion").accordion({
            heightStyle: "content",
            active: @groupCounter
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        @if (Model.IsLastRound == true)
        {
            <span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: gold;">&nbsp;World Cup Champion&nbsp;</span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: silver;">&nbsp;2nd Place&nbsp;</span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: #A67D3D;">&nbsp;3rd Place&nbsp;</span>
            </span>
        }
        else
        {
            <span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: #CCFF99;">&nbsp;Team advances to next round&nbsp;</span>
            </span>
        }
        @if (Model.TeamWithdrew == true)
        {
            <span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: #FFCCCC;">&nbsp;Team withdrew prior to start of tournament&nbsp;</span>
            </span>
        }
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            @foreach (SelectListItem groupCode in Model.GroupCodes)
            {
                if (groupCode.Text == "z3")
                {
                    <h3>Third-placed teams</h3>
                }
                else
                {
                    <h3>Group @groupCode.Text</h3>
                }
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Team</th>
                            <th>Played</th>
                            <th>Wins</th>
                            <th>Draws</th>
                            <th>Losses</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>Points</th>
                            <th>ELO Rating</th>
                        </tr>
                        @{
                            List<Group> groups = Model.Groups.Where(x => x.RoundCode == groupCode.Text && x.BaseRoundCode == groupCode.Text).ToList();
                            if (groupCode.Text == "z3")
                            {
                                groups = Model.Groups.Where(x => x.BaseRoundCode == "3rd").ToList();
                            }
                            List<Game> games = Model.Games.Where(x => x.RoundCode == groupCode.Text).ToList();
                        }
                        @foreach (Group item in groups)
                        {
                            <tr style="background-color: @Model.GetGroupRowStyle(item.HasQualifiedForNextRound, item.GroupRanking, item.TeamWithdrew, Model.IsLastRound);">
                                <td>
                                    <img src="~/WorldCup/Teams/@item.TeamFlagName" Class="TeamImage" />
                                    <a href="/WorldCup/Team?TeamCode=@item.TeamCode">@item.TeamName</a>
                                </td>
                                <td>@item.Played</td>
                                <td>@item.Wins</td>
                                <td>@item.Draws</td>
                                <td>@item.Losses</td>
                                <td>@item.GoalsFor</td>
                                <td>@item.GoalsAgainst</td>
                                <td>
                                    @if (item.GoalDifference > 0)
                                    {
                                        <span>@item.GoalDifference.ToString("+0")</span>
                                    }
                                    else
                                    {
                                        <span>@item.GoalDifference</span>
                                    }
                                </td>
                                <td>@item.Points</td>
                                <td>@item.ELORating</td>
                            </tr>
                        }
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <th>Game #</th>
                            <th>Game Time</th>
                            @*<th>Round</th>
                                <th>Group Name</th>
                                <th>Round</th>*@
                            <th></th>
                            @*<th>Team 1 (Prob to win)</th>*@
                            <th>Score</th>
                            <th></th>
                            @*<th>Team 2 (Prob to win)</th>*@
                            <th>Location</th>
                        </tr>
                        @foreach (Game item in games)
                        {
                            <tr style="background-color: @Model.GetGameRowStyle(item.GameCode)">
                                <td>
                                    @if (item.RowType == 1)
                                    {
                                        <div>@item.GameNumber</div>
                                    }
                                </td>
                                <td>
                                    @if (item.RowType == 1)
                                    {
                                        <div>@item.GameTimeString()</div>
                                    }
                                </td>
                                @*<td>
                                    @if (item.RowType == 1)
                                    {
                                    <div>@item.RoundNumber</div>
                                    }
                                    </td>
                                    <td>
                                    @if (item.RowType == 1)
                                    {
                                    <div>@item.RoundName</div>
                                    }
                                    </td>
                                    <td>
                                    @if (item.RowType == 1)
                                    {
                                    <div>@item.RoundCode</div>
                                    }
                                    </td>*@
                                <td style="text-align: right;">
                                    @if (item.RowType == 1)
                                    {
                                        <div>
                                            @*@if (item.Team1NormalTimeScore == null)
                                                {
                                                <span>@item.Team1ChanceToWin.ToString("0")% to win</span>
                                                }*@
                                            <a href="/WorldCup/Team?TeamCode=@item.Team1Code">@item.Team1Name</a>
                                            <img src="~/WorldCup/Teams/@item.Team1FlagName" Class="TeamImage" />
                                        </div>
                                    }
                                    else if (item.RowType >= 2 && item.Team1NormalTimeScore != null)
                                    {
                                        <div>
                                            @item.Team1Name
                                            <img src="~/WorldCup/Soccerball_svg.png" style="width:16px;" /> @item.Team1NormalTimeScore' @if (item.Team1ExtraTimeScore > 0)
                                            {
                                                <span>+@item.Team1ExtraTimeScore'</span>
                                            }
                                            @if (item.IsPenalty == true)
                                            {
                                                <span> (pen)</span>
                                            }
                                            @if (item.IsOwnGoal == true)
                                            {
                                                <span> (og)</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (item.Team1NormalTimeScore >= 0 && item.RowType == 1)
                                    {
                                        <div>
                                            @if (item.Team1PenaltiesScore == null && item.Team1NormalTimeScore != null)
                                            {
                                                <span>
                                                    @item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore @item.Team1ResultInformation@item.Team2ResultInformation
                                                </span>
                                            }
                                            @if (item.Team1PenaltiesScore != null && item.Team1PenaltiesScore >= 0)
                                            {
                                                <div>
                                                    <span>@item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore (aet)</span>
                                                    <br />
                                                    @item.Team1PenaltiesScore - @item.Team2PenaltiesScore @item.Team1ResultInformation@item.Team2ResultInformation
                                                </div>
                                            }
                                        </div>
                                    }
                                    else if (item.Team1NormalTimeScore == null && item.RowType == 1 && item.Team1PreGameEloRating >= 0)
                                    {
                                        <div>
                                            @item.Team1ChanceToWin.ToString("0")% to win<br />
                                            <a href="/WorldCup/Matchup?Team1Code=@item.Team1Code&Team2Code=@item.Team2Code">preview</a>
                                        </div>
                                    }
                                </td>
                                <td style="text-align: left;">
                                    @if (item.RowType == 1)
                                    {
                                        <div>
                                            <img src="~/WorldCup/Teams/@item.Team2FlagName" Class="TeamImage" />
                                            <a href="/WorldCup/Team?TeamCode=@item.Team2Code">@item.Team2Name</a>
                                            @*@if (item.Team2NormalTimeScore == null)
                                                {
                                                <span>@item.Team2ChanceToWin.ToString("0")% to win) </span>
                                                }*@
                                        </div>
                                    }
                                    else if (item.RowType >= 2 && item.Team2NormalTimeScore != null)
                                    {
                                        <div>
                                            @item.Team2Name
                                            <img src="~/WorldCup/Soccerball_svg.png" style="width:16px;" /> @item.Team2NormalTimeScore' @if (item.Team2ExtraTimeScore > 0)
                                            {
                                                <span>+@item.Team2ExtraTimeScore'</span>
                                            }
                                            @if (item.IsPenalty == true)
                                            {
                                                <span> (pen)</span>
                                            }
                                            @if (item.IsOwnGoal == true)
                                            {
                                                <span> (og)</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (item.RowType == 1)
                                    {
                                        <div>@item.Location</div>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
    </div>
</div>

