@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model IndexViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                @if (Model != null && Model.Tournaments.Count > 0 && Model.Tournaments[0].CompetitionCode == 1)
                {
                    <th>World Cup</th>
                }
                else
                {
                    <th>Tournament</th>
                }
                <th>Round 1</th>
                <th>Round 2</th>
                <th>Round 3</th>
                <th>Goals per game</th>
                <th>Goals</th>
                <th>PK Goals</th>
                <th>Games</th>
                @*<th>% Data Loaded</th>*@
                <th>Data Missing</th>
            </tr>
            @for (int i = 0; i < Model.Tournaments.Count - 1; i++)
            {
                Tournament item = Model.Tournaments[i];
                <tr>
                    <td>
                        <img src="~/WorldCup/teams/@item.HostFlagName" />
                        @if (item.CoHostFlagName != "")
                        {
                            <img src="~/WorldCup/teams/@item.CoHostFlagName" />
                        }
                        @if (item.CoHostFlagName2 != "")
                        {
                            <img src="~/WorldCup/teams/@item.CoHostFlagName2" />
                        }
                        <a href="/WorldCup/Tournament?tournamentCode=@item.TournamentCode">@item.TournamentName</a>
                    </td>
                    <td>
                        @if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R1FormatRoundCode > 0 && item.R1IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=1">Group Stage</a>
                        }
                        else if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R1FormatRoundCode > 0 && item.R1IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=1">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R2FormatRoundCode > 0 && item.R2IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=2">Group Stage</a>
                        }
                        else if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R2FormatRoundCode > 0 && item.R2IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=2">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R3FormatRoundCode > 0 && item.R3IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=3">Group Stage</a>
                        }
                        else if (Model.TournamentsImportStatus[i].TotalGames > 0 && item.R3FormatRoundCode > 0 && item.R3IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=3">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@(((float)Model.TournamentsImportStatus[i].TotalGoals / (float)Model.TournamentsImportStatus[i].TotalGamesCompleted).ToString("0.00"))</span>
                        }
                        @if (Model.TournamentsImportStatus[i].TotalGames > Model.TournamentsImportStatus[i].TotalGamesCompleted && Model.TournamentsImportStatus[i].TotalGamesCompleted > 0)
                        {
                    <span> (@Model.TournamentsImportStatus[i].TotalGamesCompleted/@Model.TournamentsImportStatus[i].TotalGames games completed)</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@Model.TournamentsImportStatus[i].TotalGoals</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@Model.TournamentsImportStatus[i].TotalPenalties</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@Model.TournamentsImportStatus[i].TotalGames</span>
                        }
                    </td>
                    @*                    <td><span ng-if="item.MinGameTime != null">@item.TotalShootoutGoals</span></td>
                        <td><span ng-if="item.MinGameTime != null">@item.ImportingTotalPercentComplete * 100 | number:2%</span></td>*@
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>
                                @if (Model.TournamentsImportStatus[i].ImportingTeamPercent < 1)
                                {
                                    <span>Teams Missing: @(((1 - Model.TournamentsImportStatus[i].ImportingTeamPercent)).ToString("0.00%"))</span>
                                }
                                @if (Model.TournamentsImportStatus[i].ImportingGamePercent < 1)
                                {
                                    <span>Games Missing: @(((1 - Model.TournamentsImportStatus[i].ImportingGamePercent)).ToString("0.00%"))</span>
                                }
                                @if (Model.TournamentsImportStatus[i].ImportingPlayerPercent < 1)
                                {
                                    <span>Team Rosters Missing: @(((1 - Model.TournamentsImportStatus[i].ImportingPlayerPercent)).ToString("0.00%"))</span>
                                }
                                @if (Model.TournamentsImportStatus[i].ImportingGoalsPercent < 1)
                                {
                                    <span>Player Goal Assignments Missing: @(((1 - Model.TournamentsImportStatus[i].ImportingGoalsPercent)).ToString("0.00%"))</span>
                                }
                                @if (Model.TournamentsImportStatus[i].ImportingPenaltyShootoutGoalsPercent < 1)
                                {
                                    <span>Player Penalty Shootouts Assignments Missing: @(((1 - Model.TournamentsImportStatus[i].ImportingPenaltyShootoutGoalsPercent)).ToString("0.00%"))</span>
                                }                                
                            </span>
                        }
                        else
                        {
                            <span>
                                <span>(Tournament not started)</span>
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
