@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model List<Tournament>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

@if (Model != null && Model.Count > 0 && Model[0].CompetitionCode != 3)
{
    <span style="color: red">New!</span> <a href="~/WorldCup/index?competitioncode=3">Euro 2020</a>
    <br />
    <br />
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                @if (Model != null && Model.Count > 0 && Model[0].CompetitionCode == 1)
                {
                    <th>World Cup</th>
                }
                else
                {
                    <th>Tournament</th>
                }
                <th>Round 1</th>
                <th>Round 2</th>
                <th>Round 3</th>
                <th>Goals per game</th>
                <th>Goals</th>
                <th>PK Goals</th>
                <th>Games</th>
                @*<th>% Data Loaded</th>*@
                <th>Data Missing</th>
            </tr>
            @foreach (Tournament item in Model)
            {
                <tr>
                    <td>
                        <img src="~/WorldCup/teams/@item.HostFlagName" />
                        @if (item.CoHostFlagName != "")
                        {
                            <img src="~/WorldCup/teams/@item.CoHostFlagName" />
                        }
                        @if (item.CoHostFlagName2 != "")
                        {
                            <img src="~/WorldCup/teams/@item.CoHostFlagName2" />
                        }
                        <a href="/WorldCup/Tournament?tournamentCode=@item.TournamentCode">@item.TournamentName</a>
                    </td>
                    <td>
                        @if (item.GameCount > 0 && item.R1FormatRoundCode > 0 && item.R1IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=1">Group Stage</a>
                        }
                        else if (item.GameCount > 0 && item.R1FormatRoundCode > 0 && item.R1IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=1">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (item.GameCount > 0 && item.R2FormatRoundCode > 0 && item.R2IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=2">Group Stage</a>
                        }
                        else if (item.GameCount > 0 && item.R2FormatRoundCode > 0 && item.R2IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=2">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (item.GameCount > 0 && item.R3FormatRoundCode > 0 && item.R3IsGroupStage == true)
                        {
                            <a href="/WorldCup/Group?tournamentCode=@item.TournamentCode&roundNumber=3">Group Stage</a>
                        }
                        else if (item.GameCount > 0 && item.R3FormatRoundCode > 0 && item.R3IsGroupStage == false)
                        {
                            <a href="/WorldCup/Playoffs?tournamentCode=@item.TournamentCode&roundNumber=3">Playoffs</a>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@(((float)item.TotalGoals/ (float)item.GamesCompleteCount).ToString("0.00"))</span>
                        }
                        @if (item.GameCount > item.GamesCompleteCount && item.GamesCompleteCount > 0)
                        {
                            <span> (@item.GamesCompleteCount/@item.GameCount games completed)</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@item.TotalGoals</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@item.TotalPenalties</span>
                        }
                    </td>
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>@item.GameCount</span>
                        }
                    </td>
                    @*                    <td><span ng-if="item.MinGameTime != null">@item.TotalShootoutGoals</span></td>
                        <td><span ng-if="item.MinGameTime != null">@item.ImportingTotalPercentComplete * 100 | number:2%</span></td>*@
                    <td>
                        @if (item.MinGameTime != null)
                        {
                            <span>
                                @if (item.ImportingTeamPercent < 1)
                                {
                                    <span>Teams Missing: @(((1 - item.ImportingTeamPercent)).ToString("0.00%"))</span>
                                }
                                @if (item.ImportingGamePercent < 1)
                                {
                                    <span>Games Missing: @(((1 - item.ImportingGamePercent)).ToString("0.00%"))</span>
                                }
                                @if (item.ImportingPlayerPercent < 1)
                                {
                                    <span>Team Rosters Missing: @(((1 - item.ImportingPlayerPercent)).ToString("0.00%"))</span>
                                }
                                @if (item.ImportingGoalsPercent < 1)
                                {
                                    <span>Player Goal Assignments Missing: @(((1 - item.ImportingGoalsPercent)).ToString("0.00%"))</span>
                                }
                                @if (item.ImportingPenaltyShootoutGoalsPercent < 1)
                                {
                                    <span>Player Penalty Shootouts Assignments Missing: @(((1 - item.ImportingPenaltyShootoutGoalsPercent)).ToString("0.00%"))</span>
                                }
                                @*<span ng-if="item.ImportingPlayerPercent < 1 && item.ImportingGoalsPercent < 1 && item.ImportingPenaltyShootoutGoalsPercent < 1">Team Rosters & Player Goal Assignments</span>
                                    <span ng-if="item.ImportingGoalsPercent < 1 && item.ImportingPenaltyShootoutGoalsPercent < 1">All Player Goal Assignments</span>*@
                            </span>
                        }
                        else
                        {
                            <span>
                                <span>(Tournament not started)</span>
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
