@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model PlayoffsViewModel
@{
    ViewBag.Title = "Playoff Details";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
    bool showDebugElements = false;
}

<div>
    @if (showDebugElements == true)
    {
        <div>
            show16s: @Model.Show16s<br />
            showQuarters: @Model.ShowQuarters<br />
            showSemis: @Model.ShowSemis<br />
            show3rdPlace: @Model.Show3rdPlace<br />
            showFinals: @Model.ShowFinals<br />
        </div>
    }

    <style type="text/css">
        .Col_A {
            background-color: White /* Peru */;
            text-align: center;
        }

        .Col_B {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_C {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_D {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_E {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_F {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_G {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_H {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_I {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_J {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_K {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_L {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_M {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_N {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_O {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .PlayoffHeader {
            background-color: #f2f2f2;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
            text-align: center;
        }

        .PlayoffTeam {
            background-color: White /* LightGreen */;
            text-align: left;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
        }

        .PlayoffScore {
            background-color: White /* CornFlowerBlue */; /*#f9f9f9*/
            text-align: center;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
        }

        .PlayoffTimeLocation {
            background-color: White /* LightGreen */;
            text-align: left;
            font-size: 10px;
            font-weight: bold;
        }

        .Border1 {
            border-bottom: darkgray 1px solid;
        }

        .Border2 {
            border-bottom: darkgray 1px solid;
            border-top: darkgray 2px solid;
        }

        .Border3 {
            border-bottom: darkgray 1px solid;
            border-top: darkgray 2px solid;
            border-right: darkgray 3px solid;
        }

        .Border4 {
            border-bottom: darkgray 0px solid;
            border-left: darkgray 0px solid;
            border-top: darkgray 2px solid;
            border-right: darkgray 0px solid;
        }
    </style>



    <div id="divPlayoffTable">
        <table border="0" cellpadding="0" cellspacing="0" class="PlayoffTable" style="border-collapse: separate;">
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" class="PlayoffHeader" id="tdCol_B1">
                        Round of 16
                    </td>
                    <td colspan="2" class="Col_D" id="tdCol_D1"></td>
                }
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" class="PlayoffHeader" id="tdCol_F1">
                        Quarter-finals
                    </td>
                    <td colspan="2" class="Col_H" id="tdCol_H1"></td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" class="PlayoffHeader" id="tdCol_J1">
                        Semi-finals
                    </td>
                    <td colspan="2" class="Col_L" id="tdCol_L1"></td>
                }
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td colspan="2" class="PlayoffHeader" id="tdCol_N1">
                        Final
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <!-- Top 16 -->
                @if (Model.Show16s == true)
                {
                    <td width="175" class="Col_B" id="tdCol_B2">
                        &nbsp;
                    </td>
                    <td width="50" class="Col_C" id="tdCol_C1">
                        &nbsp;
                    </td>
                    <td width="15" class="Col_D" id="tdCol_D2">
                        &nbsp;
                    </td>
                    <td width="20" class="Col_E" id="tdCol_E1">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    <!-- Quarters -->
                    <td width="175" class="Col_F" id="tdCol_F2">
                        &nbsp;
                    </td>
                    <td width="50" class="Col_G" id="tdCol_G1">
                        &nbsp;
                    </td>
                    <td width="15" class="Col_H" id="tdCol_H2">
                        &nbsp;
                    </td>
                    <td width="20" class="Col_I" id="tdCol_I1">
                        &nbsp;
                    </td>
                }
                <!-- Semis -->
                @if (Model.ShowSemis == true)
                {
                    <td width="175" class="Col_J" id="tdCol_J2">
                        &nbsp;
                    </td>
                    <td width="50" class="Col_K" id="tdCol_K1">
                        &nbsp;
                    </td>
                    <td width="15" class="Col_L" id="tdCol_L2">
                        &nbsp;
                    </td>
                    <td width="20" class="Col_M" id="tdCol_M1">
                        &nbsp;
                    </td>
                }
                <!-- Final -->
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td width="175" class="Col_N" id="tdCol_N2">
                        &nbsp;
                    </td>
                    <td width="50" class="Col_O" id="tdCol_O1">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B3">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">49</span>
                        }
                    </td>
                    <td rowspan="4" class="Border1 Col_D" id="tdCol_D3">
                        &nbsp;
                    </td>
                    <td rowspan="7" class="Border1 Col_E" id="tdCol_E2">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="3" class="Col_F" id="tdCol_F3"></td>
                    <td rowspan="7" class="Border1 Col_H" id="tdCol_H3">
                        &nbsp;
                    </td>
                    <td rowspan="13" class="Border1 Col_I" id="tdCol_I2">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" rowspan="9" class="Col_J" id="tdCol_J3"></td>
                    <td rowspan="13" class="Border1 Col_L" id="tdCol_L3">
                        &nbsp;
                    </td>
                    <td rowspan="25" class="Border1 Col_M" id="tdCol_M2">
                        &nbsp;
                    </td>
                }
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td colspan="2" rowspan="21" class="Col_N" id="tdCol_N3"></td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 49, showDebugElements, true, "tdCol_B4", "tdCol_C2"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F4">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">57</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 49, showDebugElements, false, "tdCol_B5", "tdCol_C3"))
                    <td rowspan="6" class="Border3 Col_D" id="tdCol_D4">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 57, showDebugElements, true, "tdCol_F5", "tdCol_G2"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B6">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">50</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td rowspan="12" class="Border2 Col_E" id="tdCol_E3">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 57, showDebugElements, false, "tdCol_F6", "tdCol_G3"))
                    <td rowspan="12" class="Border3 Col_D" id="tdCol_H4">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 50, showDebugElements, true, "tdCol_B7", "tdCol_C4"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F7"></td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_J4">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">61</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 50, showDebugElements, false, "tdCol_B8", "tdCol_C5"))
                    <td rowspan="6" class="Border2 Col_D" id="tdCol_D5">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowSemis == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 61, showDebugElements, true, "tdCol_J5", "tdCol_K2"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B9">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">53</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td rowspan="24" class="Border2 Col_I" id="tdCol_I3">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowSemis == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 61, showDebugElements, false, "tdCol_J6", "tdCol_K3"))
                    <td rowspan="24" class="Border3 Col_L" id="tdCol_L4">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 53, showDebugElements, true, "tdCol_B10", "tdCol_C6"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F8">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">58</span>
                        }
                    </td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" rowspan="18" class="Col_J" id="tdCol_J7"></td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 53, showDebugElements, false, "tdCol_B11", "tdCol_C7"))
                    <td rowspan="6" class="Border3 Col_D" id="tdCol_D6">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 58, showDebugElements, true, "tdCol_F9", "tdCol_G4"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B12">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">54</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td rowspan="12" class="Border2 Col_E" id="tdCol_E4">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 58, showDebugElements, false, "tdCol_F10", "tdCol_G5"))
                    <td rowspan="12" class="Border2 Col_H" id="tdCol_H5">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 54, showDebugElements, true, "tdCol_B13", "tdCol_C8"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F11"></td>
                }
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_N4">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">64</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 54, showDebugElements, false, "tdCol_B14", "tdCol_C9"))
                    <td rowspan="6" class="Border2 Col_D" id="tdCol_D7">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 64, showDebugElements, true, "tdCol_N5", "tdCol_O2"))

            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B15">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">51</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowSemis == true)
                {
                    <td rowspan="23" style="border-top: black 2px solid;" class="Col_M" id="tdCol_M3">
                        &nbsp;
                    </td>
                }
                @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 64, showDebugElements, false, "tdCol_N6", "tdCol_O3"))

            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 52, showDebugElements, true, "tdCol_B16", "tdCol_C10"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F12">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">59</span>
                        }
                    </td>
                }
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td colspan="2" rowspan="10" class="Col_N" id="tdCol_N7"></td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 51, showDebugElements, false, "tdCol_B17", "tdCol_C11"))
                    <td rowspan="6" class="Border3 Col_D" id="tdCol_D8">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 59, showDebugElements, true, "tdCol_F13", "tdCol_G6"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B18">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">52</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td rowspan="12" class="Border2 Col_E" id="tdCol_E5">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 59, showDebugElements, false, "tdCol_F14", "tdCol_G7"))
                    <td rowspan="12" class="Border3 Col_H" id="tdCol_H6">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 51, showDebugElements, true, "tdCol_B19", "tdCol_C12"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F15"></td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_J8">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">62</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 52, showDebugElements, false, "tdCol_B20", "tdCol_C13"))
                    <td rowspan="6" class="Border2 Col_D" id="tdCol_D9">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowSemis == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 62, showDebugElements, true, "tdCol_J9", "tdCol_K4"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B21">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">55</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td rowspan="11" style="border-top: black 2px solid;" class="Col_I" id="tdCol_I4">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowSemis == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 62, showDebugElements, false, "tdCol_J10", "tdCol_K5"))
                    <td rowspan="11" class="Border4 Col_L" id="tdCol_L5">
                        &nbsp;
                    </td>
                }
                @if (Model.Show3rdPlace == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffHeader" id="tdCol_N8">
                        Third place
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 55, showDebugElements, true, "tdCol_B22", "tdCol_C14"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F16">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">60</span>
                        }
                    </td>
                }
                @if (Model.ShowSemis == true)
                {
                    <td colspan="2" rowspan="9" class="Col_J" id="tdCol_J11"></td>
                }
                @if (Model.Show3rdPlace == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_N9">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">63</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 55, showDebugElements, false, "tdCol_B23", "tdCol_C15"))
                    <td rowspan="6" class="Border3 Col_D" id="tdCol_D10">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 60, showDebugElements, true, "tdCol_F17", "tdCol_G8"))
                }
                @if (Model.Show3rdPlace == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 63, showDebugElements, true, "tdCol_N10", "tdCol_O4"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B24">
                        @if (showDebugElements == true)
                        {
                            <span style="color: red; font-weight: bold;">56</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    <td rowspan="5" style="border-top: black 2px solid;" class="Col_E" id="tdCol_E6">
                        &nbsp;
                    </td>
                }
                @if (Model.ShowQuarters == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 60, showDebugElements, false, "tdCol_F18", "tdCol_G9"))
                    <td rowspan="5" style="border-top: black 2px solid;" class="Col_H" id="tdCol_H7">
                        &nbsp;
                    </td>
                }
                @if (Model.Show3rdPlace == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 63, showDebugElements, false, "tdCol_N11", "tdCol_O5"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 56, showDebugElements, true, "tdCol_B25", "tdCol_C16"))
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.ShowQuarters == true)
                {
                    <td colspan="2" rowspan="3" class="Col_F" id="tdCol_F19"></td>
                }
                @if (Model.Show3rdPlace == true || Model.ShowFinals == true)
                {
                    <td colspan="2" rowspan="3" class="Col_N" id="tdCol_N12"></td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @if (Model.Show16s == true)
                {
                    @await Html.PartialAsync("~/Views/WorldCup/_PlayoffPart2Partial.cshtml", new PlayoffPart2ViewModel(Model.Games, 56, showDebugElements, false, "tdCol_B26", "tdCol_C17"))
                    <td rowspan="2" style="border-top: black 2px solid;" class="Col_D" id="tdCol_D11">
                        &nbsp;
                    </td>
                }
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
            </tr>
        </table>
        <br />

        @*@await Html.PartialAsync("_GamePartial", new GameViewModel(Model.Games, false, true, showDebugElements))*@
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>Game #</th>
                    <th>Game Time</th>
                    <th>Round</th>
                    <th></th>
                    <th>Score</th>
                    <th></th>
                    <th>Location</th>
                </tr>
                @foreach (Game item in Model.Games)
                {
                    <tr style="background-color: @Model.GetGameRowStyle(item.GameCode);">
                        <td>
                            @if (item.RowType == 1)
                            {
                                <div>@item.GameNumber</div>
                            }
                        </td>
                        <td>
                            @if (item.RowType == 1)
                            {
                                <div>@item.GameTime.ToString("dd-MMM-yyyy HH:mm")</div>
                            }
                        </td>
                        <td>
                            @if (item.RowType == 1)
                            {
                                <div>@item.RoundName</div>
                            }
                        </td>
                        <td style="text-align: right;">
                            @if (item.RowType == 1 && item.Team1Code > 0)
                            {
                                <div>
                                    <a href="/WorldCup/Team?TeamCode=@item.Team1Code">@item.Team1Name</a>
                                    <img src="~/WorldCup/Teams/@item.Team1FlagName" Class="TeamImage" />
                                </div>
                            }
                            else if (item.RowType >= 2)
                            {
                                <div>
                                    @if (item.RowType == 2 && item.Team1NormalTimeScore != null)
                                    {
                                        <div>
                                            @item.Team1Name
                                            <img src="~/WorldCup/Soccerball_svg.png" /> @item.Team1NormalTimeScore'
                                            @if (item.Team1ExtraTimeScore > 0)
                                            {<span>+@item.Team1ExtraTimeScore'</span>}
                                            @if (item.IsPenalty == true)
                                            {<span> (pen)</span>}
                                            @if (item.IsOwnGoal == true)
                                            {<span> (og)</span>}
                                        </div>
                                    }
                                    @if (item.RowType == 3 && item.Team1PenaltiesScore >= 0)
                                    {
                                        <div>
                                            @item.Team1Name @if (item.Team1PenaltiesScore == 1)
                                            {<img src="~/WorldCup/Soccerball_svg.png" />}
                                            @if (item.Team1PenaltiesScore == 0)
                                            {<img src="~/WorldCup/Soccerball_Miss_svg.png" />}
                                        </div>
                                    }
                                </div>
                            }
                        </td>
                        <td style="text-align: center;">
                            @if (item.Team1NormalTimeScore >= 0 && item.RowType == 1)
                            {
                                <div>
                                    @if (item.Team1PenaltiesScore == null && item.Team1NormalTimeScore != null)
                                    {
                                        <span>
                                            @item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore @item.Team1ResultInformation@item.Team2ResultInformation
                                        </span>
                                    }
                                    else if (item.Team1PenaltiesScore != null && item.Team1PenaltiesScore >= 0)
                                    {
                                        <div>
                                            <span>@item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore (aet)</span>
                                            <br />
                                            @item.Team1PenaltiesScore - @item.Team2PenaltiesScore @item.Team1ResultInformation@item.Team2ResultInformation
                                        </div>
                                    }
                                </div>
                            }
                            @if (item.Team1NormalTimeScore == null && item.RowType == 1 && item.Team1ChanceToWin >= 0 && item.Team2ChanceToWin > 0)
                            {
                                <div>
                                    @item.Team1ChanceToWin.ToString("0")% to win
                                </div>
                            }
                            @if (item.RowType == 3 && item.ShowPenaltyShootOutLabel == true)
                            {
                                <div>
                                    <u>Penalty Shootout</u>
                                </div>
                            }
                        </td>
                        <td style="text-align: left;">
                            @if (item.RowType == 1 && item.Team2Code > 0)
                            {
                                <div>
                                    <img src="~/WorldCup/Teams/@item.Team2FlagName" Class="TeamImage" />
                                    <a href="/WorldCup/Team?TeamCode=@item.Team2Code">@item.Team2Name</a>
                                </div>
                            }
                            else if (item.RowType >= 2)
                            {
                                <div>
                                    @if (item.RowType == 2 && item.Team2NormalTimeScore != null)
                                    {
                                        <div>
                                            @item.Team2Name <img src="~/WorldCup/Soccerball_svg.png" /> @item.Team2NormalTimeScore'
                                            @if (item.IsPenalty == true)
                                            {<span> (pen)</span>}@if (item.IsOwnGoal == true)
                                            {<span> (og)</span>}
                                        </div>
                                    }
                                    @if (item.RowType == 3 && item.Team2PenaltiesScore >= 0)
                                    {
                                        <div>
                                            @item.Team2Name @if (item.Team2PenaltiesScore == 1)
                                            {<img src="~/WorldCup/Soccerball_svg.png" />}
                                            @if (item.Team2PenaltiesScore == 0)
                                            {<img src="~/WorldCup/Soccerball_Miss_svg.png" />}
                                        </div>
                                    }
                                </div>
                            }
                        </td>
                        <td>
                            @if (item.RowType == 1)
                            {
                                <div>@item.Location</div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>