@using SamSmithNZ.Service.Models.GuitarTab
@using SamSmithNZ.Web.Models.GuitarTab
@model TabsViewModel
@{
    ViewBag.Title = "Edit \"" + @Model.Tab.TabName + "\"";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
}

@using (Html.BeginForm("SaveTab", "GuitarTab", new { albumCode = @Model.Tab.AlbumCode, tabCode = @Model.Tab.TabCode }, FormMethod.Post, false, new { @id = "frmSaveTab" }))
{
    <table class="form-group">
        <tr>
            <td style="text-align:right;">Name: </td>
            <td><input id="txtTabName" name="txtTabName" type="text" class="form-control" value="@Model.Tab.TabName"></td>
        </tr>
        <tr>
            <td style="text-align:right;">Order: </td>
            <td><input id="txtOrder" name="txtOrder" type="text" class="form-control" value="@Model.Tab.TabOrder"></td>
        </tr>
        <tr>
            <td style="text-align:right;">Rating: </td>
            <td>
                <select id="cboRating" name="cboRating" asp-for="Rating" asp-items="Model.Ratings" class="form-control"></select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Tuning: </td>
            <td>
                <select id="cboTuning" name="cboTuning" asp-for="Tuning" asp-items="Model.Tunings" class="form-control"></select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top; text-align:right;">Tab Text: </td>
            <td><textarea id="txtTabText" name="txtTabText" cols="100" rows="20" class="form-group" style="font-family: monospace; font-size:8pt; max-width:800px;">@Model.Tab.TabText</textarea></td>
        </tr>
    </table>
    <div class="form-group">
        <input id="SaveTrack" type="submit" class="form-group" value="Save Changes" />
    </div>
}
<br />
