@using SamSmithNZ.Service.Models.WorldCup
@model TeamMatchup
@{
    ViewBag.Title = "Matchup details";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<b>Matchup:</b>
<div class="row">
    <div class="col-md-12">
        <b>@Model.Team1Statistics.Team.TeamName</b> vs <b>@Model.Team2Statistics.Team.TeamName</b>
        @*<ul>
        <li>Team 1 record: </li>
        </ul>*@
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Tournament</th>
                @*
                <th>Game #</th>*@
                <th>Game Time</th>
                <th>Round</th>
                <th>Group Name</th>
                @*
                <th>Round</th>*@
                <th></th>
                <th>Score</th>
                <th></th>
                <th>Location</th>
                <th>Coach</th>
                @*
                <th>Fifa Ranking</th>*@
                @*            <th>Team 1 chance to win</th>
                <th>Team 1 Elo Rating</th>
                <th>Team 2 Elo Rating</th>
                <th>Team 2 chance to win</th>*@
                @*
                <th>@Model.TeamStatistics.Team.TeamName won?</th>*@
            </tr>
            @foreach (Game item in Model.Games)
            {
                <tr>
                    <td>@item.TournamentName</td>
                    @*
                <td>@item.GameNumber</td>*@
                    <td>@item.GameTimeString()</td>
                    <td>@item.RoundNumber</td>
                    <td>@item.RoundName</td>
                    @*
                <td>@item.RoundCode</td>*@
                    <td style="text-align: right;">
                        <div style="overflow: hidden; white-space: nowrap;">
                            <a href="/WorldCup/Team?TeamCode=@item.Team1Code">@item.Team1Name</a>
                            <img src="~/WorldCup/Teams/@item.Team1FlagName" Class="TeamImage" />
                        </div>
                        <div style="font-size: 10px; font-weight: bold;">
                            @if (item.Team1ChanceToWin >= 0)
                            {
                                <span>Prob to win: @item.Team1ChanceToWin.ToString("0.00")%</span><br />
                                @if (item.GameCanEndInADraw == true) 
                                {
                                    <span>Prob to draw: @item.TeamChanceToDraw.ToString("0.00")%</span><br />
                                }                    
                            }
                            @if (item.Team1PostGameEloRating == null && item.Team1PreGameEloRating != null)
                            {
                                <span>Pregame ELO: @item.Team1PreGameEloRating</span>
                            }
                            @if (item.Team1PostGameEloRating != null)
                            {
                                @if (item.Team1PreGameEloRating == null || item.Team1PreGameEloRating == 0)
                                {
                                    <span>Game ELO: @item.Team1PostGameEloRating</span>
                                }
                                else if (item.Team1PostGameEloRating > 0)
                                {
                                    <span>Game ELO: @item.Team1PreGameEloRating -> @item.Team1PostGameEloRating (@if (item.Team1PostGameEloRating - item.Team1PreGameEloRating >= 0){<span>+</span>}@(item.Team1PostGameEloRating - item.Team1PreGameEloRating))</span>
                                }
                                else
                                {
                                    <span>Game ELO: @item.Team1PreGameEloRating</span>                              
                                }
                            }
                        </div>
                    </td>
                    <td style="text-align: center;">
                        @if (item.Team1NormalTimeScore >= 0)
                        {
                            <div>
                                @if (item.Team1PenaltiesScore == null)
                                {
                                    <span>@item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore @item.Team1ResultInformation@item.Team2ResultInformation</span>
                                }
                                @if (item.Team1PenaltiesScore != null && item.Team1PenaltiesScore >= 0)
                                {
                                    <div>
                                        <span>@item.Team1ResultRegulationTimeScore - @item.Team2ResultRegulationTimeScore (aet)</span>
                                        <br />
                                        @item.Team1PenaltiesScore - @item.Team2PenaltiesScore @item.Team1ResultInformation@item.Team2ResultInformation
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td style="text-align: left;">
                        <div style="overflow: hidden; white-space: nowrap;">
                            <img src="~/WorldCup/Teams/@item.Team2FlagName" Class="TeamImage" />
                            <a href="/WorldCup/Team?TeamCode=@item.Team2Code">@item.Team2Name</a>
                        </div>
                        <div style="font-size: 10px; font-weight: bold;">
                            @if (item.Team2ChanceToWin >= 0)
                            {
                                <span>Prob to win: @item.Team2ChanceToWin.ToString("0.00")%</span><br />
                                @if (item.GameCanEndInADraw == true) 
                                {
                                    <span>Prob to draw: @item.TeamChanceToDraw.ToString("0.00")%</span><br />
                                }
                            }
                            @if (item.Team2PostGameEloRating == null && item.Team2PreGameEloRating != null)
                            {
                                <span>Pregame ELO: @item.Team2PreGameEloRating</span>
                            }
                            @if (item.Team2PostGameEloRating != null)
                            {
                                @if (item.Team2PreGameEloRating == null || item.Team2PreGameEloRating == 0)
                                {
                                    <span>Game ELO: @item.Team2PostGameEloRating</span>
                                }
                                else if (item.Team2PostGameEloRating > 0)
                                {
                                    <span>Game ELO: @item.Team2PreGameEloRating -> @item.Team2PostGameEloRating (@if (item.Team2PostGameEloRating - item.Team2PreGameEloRating >= 0){<span>+</span>}@(item.Team2PostGameEloRating - item.Team2PreGameEloRating))</span>
                                } 
                                else
                                {
                                    <span>Game ELO: @item.Team2PreGameEloRating</span>
                                }
                            }
                        </div>
                    </td>



                    @*<td style="background-color: @Model.GetIfFavoriteWonStyle(item.Team1Code, Model.TeamStatistics.Team.TeamCode, item.Team1ChanceToWin, item.Team1ResultWonGame, item.Team2ResultWonGame);">
                @if (item.Team1ChanceToWin >= 0)
                {
                <div>
                @if (item.Team1Code == Model.TeamStatistics.Team.TeamCode)
                {
                <span>@item.Team1OddsStatusText</span>
                }
                @if (item.Team2Code == Model.TeamStatistics.Team.TeamCode)
                {
                <span>@item.Team2OddsStatusText</span>
                }
                </div>
                }
                </td>*@
                    <td>@item.Location</td>
                    <td>
                        @if (item.CoachFlag != "")
                        {
                            <img src="~/WorldCup/Teams/@item.CoachFlag" Class="TeamImage" /> @item.CoachName
                        }
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
