<!DOCTYPE html>
<html lang="en">
<!--Base Layout-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <title>SamSmithNZ.com - @ViewBag.Title</title>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <!--<script src="@Url.Content("~/Scripts/html5shiv.js")"></script>-->
    <![endif]-->

    <!-- Fav and touch icons -->
    @*    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/ico/apple-touch-icon-144-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/ico/apple-touch-icon-114-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/ico/apple-touch-icon-72-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/ico/apple-touch-icon-57-precomposed.png")">
        <link rel="shortcut icon" href="@Url.Content("~/Content/ico/favicon.png")">*@
    <script type='text/javascript'>
     var appInsights = window.appInsights || function (config) {
         function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
         var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
     }({
         instrumentationKey: '95df3bf3-14cc-46fa-a1a2-efb38b480c16'
     });

     window.appInsights = appInsights;
     appInsights.trackPageView();
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">SamSmithNZ</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="loginLinks pull-right">@Html.Partial("_LoginPartial")</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
            </ul>
        </div>
    </nav>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">SamSmithNZ</a>
                <div class="container">
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active" style="color: white;"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li style="color: white;"><a href="@Url.Action("About", "Home")">About</a></li>
                        </ul>
                    </div>
                </div>

                <div class="navbar-header navbar-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>*@
    @RenderBody()

    <hr />
    <div class="container">
        <footer>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">Copyright &copy;2000 - @DateTime.Now.Year.ToString() SamSmithNZ.com</td>
                    <td style="width: auto;"></td>
                    <td style="width: 350px; text-align: right;">
                        <span style="font-size: xx-small; font-weight: bold; text-align: right;">
                            Version: @ViewContext.Controller.GetType().Assembly.GetName().Version (Last built: @File.GetLastWriteTime(ViewContext.Controller.GetType().Assembly.Location).ToString("dd-MMM-yyyy hh:mm:sstt"))
                        </span>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
