@{
    bool isGuitarTabAdmin = User.Identity.IsAuthenticated && (User.IsInRole(SamSmithNZ2017.Web.Models.AccountConstants.ACCOUNT_WebAdmin) == true);
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Guitar Tab Library</title>
    <link rel="shortcut icon" sizes="32x32" href="~/Content/GuitarTab/favicon.ico">
    @Styles.Render("~/Content/globalCSS")
    @Scripts.Render("~/bundles/globalJS")
    @Scripts.Render("~/bundles/guitarTabServicesJS")
    @Scripts.Render("~/bundles/guitarTabControllersJS")
    <script type="text/javascript">  var appInsights = window.appInsights || function (config) { function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t }({ instrumentationKey: "3319a8e9-0255-441c-ae08-fe623a5f813f" }); window.appInsights = appInsights; appInsights.trackPageView();</script>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22707453-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body ng-app="GuitarTabApp" ng-controller="layoutController">
    <div class="headerandlogo">
        <table class="PercentWidth100">
            <tr>
                <td class="col-md-4">
                    <a href="@Url.Action("Index", "GuitarTab")" class="headerText">
                        <img src="@Url.Content("~/Content/GuitarTab/GuitarHeader.png")" alt="" class="headerImg" />
                        <span class="headerText">Guitar Tab Library (v4)</span>
                    </a>
                </td>
                <td class="col-md-4">
                    <div class="HeaderStatus" style="height: 28px;">
                        @Html.Partial("_LoginPartial")
                    </div>
                </td>
                <td class="col-md-4 pull-right">
                    <span class="AlignedRight">
                        <span>Search for guitar tab:</span>
                        <input id="txtSearch" type="text" maxlength="100" ng-keyup="$event.keyCode == 13 ? searchGuitarTabs() : null" />
                        <input id="butSearch" type="button" value="Search!" ng-click="searchGuitarTabs()" />
                    </span>
                    <span>
                        <a href="@Url.Action("About", "GuitarTab")">About</a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentFrame">
        <table class="PercentWidth100">
            <tr class="toptr">
                <td class="sideBar">
                    <br />
                    @if (isGuitarTabAdmin == true)
                    {
                        <a href="~/GuitarTab/EditAlbum?AlbumCode=0">Add new album</a><br /><br />
                    }
                    <b>Jump to Artist:</b><br />
                    <div class="ArtistSideBar">
                        <img ng-hide="artists" id="spinner1" src="~/Content/Images/spinner_small.gif" />
                        <ul class="bulletedList" style="margin-bottom: 0px;" ng-repeat="item in artists">
                            <li><a href="~/GuitarTab/Index#{{item.ArtistNameTrimed}}">{{item.ArtistName}}</a></li>
                        </ul>
                    </div>

                </td>
                <td class="contentMain">
                    <div class="BreadCrumbs">
                        @Html.ActionLink("Home", "Index", null, null) > <span id="lblBreadCrumbLocation">loading...</span>
                    </div>
                    <h2>@ViewBag.Title</h2>
                    @RenderBody()
                    <input id="txtViewHiddenTabs" type="hidden" value="@isGuitarTabAdmin.ToString().ToLower()" />
                </td>
            </tr>
        </table>
        <input id="txtSearchAction" type="hidden" value='@Url.Action("SearchResults", "GuitarTab", new { searchText = "" } )' />
    </div>

    <div class="footer">
        <div class="tableofcontents" style="width: 100%; text-align: center;">
            Copyright &copy;2000 - @DateTime.Now.Year SamSmithNZ.com
        </div>
    </div>

</body>
</html>
