@*@model SamSmithNZ2015.Models.GuitarTab.AlbumTabsViewModel*@
@{
    ViewBag.Title = "Loading album...";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
    //bool isGuitarAdmin = User.Identity.IsAuthenticated && (User.IsInRole(SamSmithNZ2015.Models.AccountConstants.ACCOUNT_WebAdmin) == true);
}

<div ng-controller="albumController">
    <table class="tableofcontents" padding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <ul style="text-align: left; padding: 0px;" ng-repeat="item in tabs">
                    <li class="tableofcontentsitem">
                        {{$index + 1}}<span>.</span>
                        <span ng-if="item.TabText == ''">{{item.TabName}}</span>
                        <a ng-if="item.TabText != ''" href="#{{item.TabNameTrimed}}">{{item.TabName}}</a>&nbsp;<sup><b>{{item.TuningName}}</b></sup>&nbsp;<img ng-if="item.Rating != null && item.Rating >= 0" ng-src="~/Content/GuitarTab/rating_star0{{item.Rating}}.gif">
                        <a href="~/GuitarTab/EditTab?TabCode={{item.TabCode}}">
                            <img src="@Url.Content("~/Content/guitartab/pencil.gif")" alt="" style="height: 12px; border-width:0;" />
                        </a>
                    </li>
                    @*@foreach (SamSmithNZ2015.Core.GuitarTab.Tab item in Model.Tabs)
                            @if (isGuitarAdmin == true)
                            {
                                <a href="@Url.Action("EditTab", "GuitarTab", new { trackCode = @item.TabCode })" style="text-decoration:none;">
                                    <img src="@Url.Content("~/Content/images/guitartab/pencil.gif")" alt="" style="height: 12px; border-width:0;" />
                                </a>
                            }
                        }*@
                </ul>
            </td>
        </tr>
    </table>
    <img ng-hide="tabs" id="spinner1" src="~/Content/Images/spinner.gif" />
    <div ng-repeat="item in tabs">
        <a ng-if="item.TabText != ''" name="{{item.TabNameTrimed}}"></a>
        <h2 ng-if="item.TabText != ''" class="sectionTitle">{{item.TabName}}</h2>
        <pre ng-if="item.TabText != ''">{{item.TabText}}</pre>
    </div>
    @*@foreach (SamSmithNZ2015.Core.GuitarTab.Tab item in Model.Tabs)
        {
            if (@item.TabText.Length > 0)
            {
                <a name="@item.TabName.Replace(" ", "")"></a>
                <h2 class="sectionTitle">@item.TabName</h2>

                <pre>@item.TabText</pre>
            }
        }*@
</div>