@*@model SamSmithNZ2015.Models.GuitarTab.TabViewModel*@
@{
    //ViewBag.Title = "Edit \"" + @Model.Tab.TrackName + "\"";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
}

<script>
    $("document").ready(function () {
        $("#frmSaveTrack").validate({
            rules: {
                'txtTrackName': {
                    required: true,
                    maxlength: 100
                },
                'txtOrder': {
                    required: true,
                    range: [1, 100]
                }
            },
            messages: {
                'txtTrackName': {
                    required: 'Track Name required',
                    maxlength: 'Must be under 100 characters'
                },
                'txtOrder': {
                    required: 'Track Order required',
                    maxlength: 'Must be between 1 and 100'
                }
            }
        });
    });
</script>
<style type="text/css">
    label.error {
        color: red;
    }
</style>

<div ng-controller="editTabController">
    @*@using (Html.BeginForm("SaveTrack", "GuitarTab", new { albumCode = @Model.Tab.AlbumCode, trackCode = @Model.Tab.TrackCode }, FormMethod.Post, new { @id = "frmSaveTrack" }))*@
    <table>
        <tr>
            <td>Name: </td>
            <td><input id="txtTrackName" type="text" value="{{tab.TabName}}"></td>
            @*<td>@Html.TextBox("txtTrackName", @Model.Tab.TrackName)</td>*@
        </tr>
        <tr>
            <td>Order: </td>
            <td><input id="txtOrder" type="text" value="{{tab.TabOrder}}"></td>
            @*<td>@Html.TextBox("txtOrder", @Model.Tab.TrackOrder)</td>*@
        </tr>
        <tr>
            <td>Rating: </td>
            <td>
                <select id="cboRating" name="cboRating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected="selected" value="5">5</option>
                </select>
            </td>
            @*<td>@Html.DropDownList("cboRating", new SelectList(Model.RatingList, "RatingCode", "RatingCode", @Model.Tab.Rating))</td>*@
        </tr>
        <tr>
            <td>Tuning: </td>
            <td>
                <select id="cboTuning" name="cboTuning">
                    <option selected="selected" value="0">[unknown]</option>
                    <option value="1">Standard Tuning</option>
                    <option value="2">Drop D Tuning</option>
                    <option value="3">1/2 Step down Tuning</option>
                    <option value="4">Whole Step down Tuning</option>
                    <option value="5">1/2 Step down &amp; Drop D Tuning</option>
                    <option value="6">Whole Step down &amp; Drop D Tuning</option>
                </select>
            </td>
            @*<td>@Html.DropDownList("cboTuning", new SelectList(Model.TuningList, "TuningCode", "TuningName", @Model.Tab.TuningCode))</td>*@
        </tr>
        <tr>
            <td style="vertical-align:top;">Track Text: </td>
            <td><textarea cols="100" rows="20">{{tab.TabText}}</textarea></td>
            @*<td>@Html.TextArea("txtTrackText", @Model.Tab.TrackText, new { cols = "100", rows = "20" })</td>*@
        </tr>
    </table>

    <input id="SaveTrack" type="button" value="Save Changes" ng-click="saveTab()" /><br />
</div>