@using SamSmithNZ.Service.Models.GuitarTab
@using SamSmithNZ.Web.Models.GuitarTab
@model AlbumViewModel
@{
    ViewBag.Title = Model.Album.AlbumName;
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
    bool isGuitarTabAdmin = true;
}

<table class="tableofcontents" padding="0" cellspacing="0">
    <tr>
        <td style="width: 100%;">
            @for (int i = 0; i < Model.Tabs.Count; i++)
            {
                Tab item = Model.Tabs[i];
                <ul style="text-align: left; padding: 0px;">
                    <li class="tableofcontentsitem">
                        @(i + 1)<span>.</span>
                        @if (item.TabText == "")
                        {
                            <span>@item.TabName</span>
                        }
                        else
                        {
                            <a href="#@item.TabNameTrimed">@item.TabName</a> <sup><b>@item.TuningName</b></sup>
                            @if (item.Rating != null && item.Rating >= 0)
                            {
                                <img src="~/GuitarTab/rating_star0@(item.Rating).gif">
                            }
                        }
                        @if (isGuitarTabAdmin == true)
                        {
                            <a href="~/GuitarTab/EditTab?TabCode=@item.TabCode">
                                <img src="~/guitartab/pencil.gif" alt="" style="height: 12px; border-width:0;" />
                            </a>
                        }
                    </li>
                </ul>
            }
        </td>
    </tr>
</table>
@foreach (Tab item in Model.Tabs)
{
    <div>
        @if (item.TabText != "")
        {
            <a name="@item.TabNameTrimed"></a>
            <h2 class="sectionTitle">@item.TabName</h2>
            <pre>@if (item.TuningName.Length > 0){<span>@item.TuningName<br /><br /></span>}@item.TabText</pre>
        }
    </div>
}