@using SamSmithNZ.Service.Models.GuitarTab
@using SamSmithNZ.Web.Models.GuitarTab
@model AlbumTabsViewModel
@{
    if (Model.Album.AlbumCode == 0)
    {
        ViewBag.Title = "Add New Album";
    }
    else
    {
        ViewBag.Title = "Edit Album \"" + @Model.Album.AlbumName + "\"";
    }
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";

    string year = "";
    if (Model.Album.AlbumYear == 0)
    {
        year = "";
    }
    else
    {
        year = Model.Album.AlbumYear.ToString();
    }
    string isAdminString = "";
    if (Model.IsAdmin == true)
    {
        isAdminString = "&IsAdmin=true";
    }
}


@using (Html.BeginForm("SaveAlbum", "GuitarTab", new { albumCode = @Model.Album.AlbumCode }, FormMethod.Post, false, new { @id = "frmSaveAlbum" }))
{
    <table class="form-group">
        <tr>
            <td style="text-align:right;">Artist: </td>
            <td><input id="txtArtist" name="txtArtist" type="text" class="form-control" value="@Model.Album.ArtistName" /></td>
        </tr>
        <tr>
            <td style="text-align:right;">Album Name: </td>
            <td><input id="txtAlbumName" name="txtAlbumName" type="text" class="form-control" value="@Model.Album.AlbumName" /></td>
        </tr>
        <tr>
            <td style="text-align:right;">Year: </td>
            <td><input id="txtYear" name="txtYear" type="text" class="form-control" value="@Model.Album.AlbumYear" /></td>
        </tr>
        <tr>
            <td style="text-align:right;">Is Bass Tab: </td>
            <td>@Html.CheckBox("chkIsBassTab", @Model.Album.IsBassTab)</td>
        </tr>
        <tr>
            <td style="text-align:right;">Include on Main Index: </td>
            <td>@Html.CheckBox("chkIncludeInIndex", @Model.Album.IncludeInIndex)</td>
        </tr>
        <tr>
            <td style="text-align:right;">Include on Website: </td>
            <td>@Html.CheckBox("chkIncludeOnWebsite", Model.Album.IncludeOnWebsite)</td>
        </tr>
        <tr>
            <td style="text-align:right;">Is a Collection Album: </td>
            <td>@Html.CheckBox("chkIsMiscCollectionAlbum", Model.Album.IsMiscCollectionAlbum)</td>
        </tr>
        @if (Model.Album.AlbumCode == 0)
        {
            <tr>
                <td style="text-align:right;">Track list: </td>
                <td><textarea id="txtTrackList" name="txtTrackList" cols="40" rows="15" class="form-group" style="font-family: monospace; font-size:8pt;"></textarea></td>
            </tr>
        }
        else
        {
            <tr>
                <td style="vertical-align: top; text-align:right;">Track list: </td>
                <td>
                    <table class="tableofcontents" padding="0" cellspacing="0">
                        <tr>
                            <td style="width: 100%;">
                                <ul style="text-align: left; padding: 0px;">
                                    @for (int i = 0; i < Model.Tabs.Count; i++)
                                    {
                                        Tab item = Model.Tabs[i];
                                        <li class="tableofcontentsitem">
                                            <span>@(i + 1).</span>
                                            @if (item.TabText == "")
                                            {
                                                <span>@item.TabName</span>
                                            }
                                            else
                                            {
                                                <a href="#@item.TabNameTrimed">@item.TabName</a>
                                            }
                                            &nbsp;&nbsp;
                                            @if (item.Rating != null && item.Rating >= 0)
                                            {
                                                <img src="~/GuitarTab/rating_star0@(item.Rating).gif">
                                            }
                                            <a href="~/GuitarTab/EditTab?TabCode=@item.TabCode@isAdminString">
                                                <img src="~/guitartab/pencil.gif" alt="" style="height: 12px; border-width:0;" />
                                            </a>
                                            <span>&nbsp; &nbsp; &nbsp;</span>
                                            <a href="~/GuitarTab/DeleteTab?AlbumCode=@Model.Album.AlbumCode&TabCode=@item.TabCode@isAdminString" style="text-decoration:none;">
                                                <img src="~/guitartab/delete.png" alt="" style="height: 12px;border-width:0;" />
                                            </a>
                                        </li>

                                    }
                                    <li class="tableofcontentsitem">@Html.ActionLink("Add new track", "AddNewTrack", new { albumCode = @Model.Album.AlbumCode })</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <input id="SaveAlbum" type="submit" class="form-group" value="Save Changes" />
    </div>
}
