@using SamSmithNZ.Service.Models.GuitarTab;
@using SamSmithNZ.Web.Models.GuitarTab;
@model SearchViewModel
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
}

@if (Model.SearchResults.Count > 0)
{
    <span>Searched for: "@Model.SearchResults[0].SearchText", @Model.SearchResults.Count matches found:</span>
    <br />
    <hr />
    <table>
        @for (int i = 0; i < Model.SearchResults.Count; i++)
        {
            Search item = Model.SearchResults[i];
            <tr ng-repeat="item in searchResults">
                <td>
                    @(i + 1). <a href="~/GuitarTab/Album?AlbumCode=@item.AlbumCode#@item.TrackName.Replace(" ","")"><span>@item.ArtistAlbumResult</span>@if (item.IsBassTab == true) {<span> (Bass Tab)</span>}<span> @item.TrackResult</span></a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <span>no results</span>
}
