@*@model SamSmithNZ2015.Models.FooFighters.SongShowsViewModel*@
@{
    Layout = "~/Views/Shared/_LayoutFooFighters.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Song</title>
    </head>*@
<div style="font-family: Verdana; font-size: 10pt;" ng-controller="songController">
    <h2>{{song.SongName}}</h2>
    <table id="Table1">
        <tr>
            <td valign="top">
                <table border="0">
                    <tr>
                        <td style="width: 250px"></td>
                        <td style="width: 200px"></td>
                        <td style="width: 25px" rowspan="5"></td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Album:</span>
                        </td>
                        <td>
                            <a href="/FooFighters/Album/GetAlbum?AlbumCode={{song.AlbumCode}}">{{song.AlbumName}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">First Played:</span>
                        </td>
                        <td>
                            <a href="/FooFighters/Show/GetShow?ShowCode={{song.FirstPlayedShowCode}}" ng-if="song.FirstPlayed != null">{{song.FirstPlayed | date:'yyyy-MMM-dd'}}</a>
                            <span ng-if="song.FirstPlayed == null">Never played live</span>
                            @*@Html.ActionLink(@Model.Song.FirstPlayed.ToString("yyyy-MMM-dd"), "Show", "FooFighters", new { showKey = @Model.Song.FirstPlayedShowKey }, null)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Last Played:</span>
                        </td>
                        <td>
                            <a href="/FooFighters/Show/GetShow?ShowCode={{song.LastPlayedShowCode}}" ng-if="song.LastPlayed != null">{{song.LastPlayed | date:'yyyy-MMM-dd'}}</a>
                            <span ng-if="song.LastPlayed == null">Never played live</span>
                            @*@Html.ActionLink(@Model.Song.LastPlayed.ToString("yyyy-MMM-dd"), "Show", "FooFighters", new { showKey = @Model.Song.LastPlayedShowKey }, null)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Times Played:</span>
                        </td>
                        <td>
                            {{song.TimesPlayed}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="font-weight: bold;">Notes:</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{song.SongNotes}}
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table border="0">
                    <tr>
                        <td valign="top">
                            <span style="font-weight: bold;">Lyrics:</span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div ng-bind-html="song.SongLyrics"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <span ng-if="shows.length == 0">There is no record of {{song.SongName}} being played live</span>
    <span ng-if="shows.length > 0">{{song.SongName}} has been played live at the following shows:</span>

    <table style="border-collapse: collapse; border: 1px solid DarkGray; text-align: center;" ng-if="shows.length > 0">
        <tr style="background-color: #EAEAEA; font-weight: bold;">
            <th style="width: 250px;">Show Date</th>
            <th style="width: 350px;">Location</th>
            <th style="width: 250px;">City</th>
        </tr>
        <tr ng-repeat="item in shows">
            <td><a href="/FooFighters/Show/GetShow?ShowCode={{item.ShowCode}}">{{item.ShowDate | date:'yyyy-MMM-dd'}}</a></td>
            <td>{{item.ShowLocation}}</td>
            <td ng-if="item.ShowCountry != 'United States'">{{item.ShowCity}}, {{item.ShowCountry}}</td>
            <td ng-if="item.ShowCountry == 'United States'">{{item.ShowCity}}</td>
        </tr>

        @*@foreach (SamSmithNZ2015.Core.FooFighters.Show item in Model.Shows)
            {
                <tr>
                    <td>@Html.ActionLink(@item.ShowDate.ToString("yyyy-MMM-dd"), "Show", "FooFighters", new { showKey = @item.ShowKey }, null)</td>
                    <td>@item.ShowLocation</td>
                    @if (@item.ShowCountry != "United States")
                    {
                        <td>@item.ShowCity, @item.ShowCountry</td>
                    }
                    else
                    {
                        <td>@item.ShowCity</td>
                    }
                </tr>
            }*@
    </table>
    <br /><br /><br />
</div>
</html>
