@model SamSmithNZ2015.Models.FooFighters.SongsPartialViewModel

<table class="tdTable" style="border-collapse: collapse; border: 1px solid DarkGray; text-align: center;">
    <tr style="background-color: #EAEAEA; font-weight: bold;">
        @if (Model.Source == "Album" || Model.Source == "Show")
        {
            <th style="width: 50px;" class="tdTable"></th>
        }
        <th style="width: 250px;" class="tdTable">Song</th>
        @if (Model.Source != "Show")
        {
            <th style="width: 200px;" class="tdTable">First Show Played</th>
            <th style="width: 200px;" class="tdTable">Last Show Played</th>
            <th style="width: 150px;" class="tdTable">Times Played Live</th>
        }
        @if (Model.Source != "Album")
        {
            <th style="width: 250px;" class="tdTable">Album</th>
        }
    </tr>

    @foreach (SamSmithNZ2015.Core.FooFighters.Song item in Model.Songs)
    {
        <tr>
            @if (Model.Source == "Album" || Model.Source == "Show")
            {
                <td class="tdTable">@item.SongOrder</td>
            }
            <td class="tdTable">@Html.ActionLink(@item.SongName, "Song", "FooFighters", new { songKey = @item.SongKey }, null)</td>
            @if (Model.Source != "Show")
            {
                if (@item.FirstPlayedShowKey <= 0)
                {
                    <td class="tdTable">None Known</td>
                }
                else
                {
                    <td class="tdTable">@Html.ActionLink(@item.FirstPlayed.ToString("yyyy-MMM-dd"), "Show", "FooFighters", new { showKey = @item.FirstPlayedShowKey }, null)</td>
                }
                if (@item.LastPlayedShowKey <= 0)
                {
                    <td class="tdTable">None Known</td>
                }
                else
                {
                    <td class="tdTable">@Html.ActionLink(@item.LastPlayed.ToString("yyyy-MMM-dd"), "Show", "FooFighters", new { showKey = @item.LastPlayedShowKey }, null)</td>
                }
                <td class="tdTable">@item.SongTimesPlayed</td>
            }
            @if (Model.Source != "Album")
            {
                <td class="tdTable">@Html.ActionLink(@item.AlbumName, "Album", "FooFighters", new { albumKey = @item.AlbumKey }, null)</td>
            }
        </tr>
    }
</table>
