@using SSNZ.DevOps.Web.Models
@model DevOpsMenu2ViewModel

@*Branching
        Branch Policies
        Resolving Branch Merge Conflicts
    Pull Requests
        Performing Code Reviews
        Linking Work Items to your work*@

@if (Model != null && Model.CodeMenu != null && Model.CodeMenu.MainHeader == true)
{
    <a href="@Url.Action("Code", "DevOps")" class="tocselected"><span class="tocnumber">2</span>&nbsp;<span>Code</span></a>
}
else
{
    <a href="@Url.Action("Code", "DevOps")"><span class="tocnumber">2</span>&nbsp;<span>Code</span></a>
}
<ul>
    <li>
        @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section1 == true)
        {
            <a href="@Url.Action("CodeBranching", "DevOps")" class="tocselected"><span class="tocnumber">2.1</span>&nbsp;<span>Managing branches</span></a>
        }
        else
        {
            <a href="@Url.Action("CodeBranching", "DevOps")"><span class="tocnumber">2.1</span>&nbsp;<span>Managing branches</span></a>
        }
        <ul>
            @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section2 == true)
            {
                <li><a href="@Url.Action("CodeBranchingConflicts", "DevOps")" class="tocselected"><span class="tocnumber">2.1.1</span>&nbsp;<span>Resolving branch conflicts</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("CodeBranchingConflicts", "DevOps")"><span class="tocnumber">2.1.1</span>&nbsp;<span>Resolving branch conflicts</span></a></li>
            }
            @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section3 == true)
            {
                <li><a href="@Url.Action("CodeBranchingPolicies", "DevOps")" class="tocselected"><span class="tocnumber">2.1.2</span>&nbsp;<span>Branch policies</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("CodeBranchingPolicies", "DevOps")"><span class="tocnumber">2.1.2</span>&nbsp;<span>Branch policies</span></a></li>
            }
        </ul>
    </li>

    <li>
        @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section4 == true)
        {
            <a href="@Url.Action("CodePullRequests", "DevOps")" class="tocselected"><span class="tocnumber">2.2</span>&nbsp;<span>Manage a pull request</span></a>
        }
        else
        {
            <a href="@Url.Action("CodePullRequests", "DevOps")"><span class="tocnumber">2.2</span>&nbsp;<span>Manage a pull request</span></a>
        }
        <ul>
            @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section5 == true)
            {
                <li><a href="@Url.Action("CodeLinkingWorkItems", "DevOps")" class="tocselected"><span class="tocnumber">2.2.1</span>&nbsp;<span>Tracking progress with work items</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("CodeLinkingWorkItems", "DevOps")"><span class="tocnumber">2.2.1</span>&nbsp;<span>Tracking progress with work items</span></a></li>
            }
            @if (Model != null && Model.CodeMenu != null && Model.CodeMenu.Section6 == true)
            {
                <li><a href="@Url.Action("CodeReviews", "DevOps")" class="tocselected"><span class="tocnumber">2.2.2</span>&nbsp;<span>Code reviews</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("CodeReviews", "DevOps")"><span class="tocnumber">2.2.2</span>&nbsp;<span>Code reviews</span></a></li>
            }
        </ul>
    </li>
</ul>