@using SSNZ.DevOps.Web.Models
@model DevOpsMenu2ViewModel

<div class="row">
    <div class="col-md-12">
        <div><b>DevOps Navigation</b></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div id="toc" class="toc">
            <ul class="DevOpsMenuFrame">
                <li>
                    @Html.Partial("PartialViews/_MainMenu", Model)
                </li>
                <li>
                    @Html.Partial("PartialViews/_CodeMenu", Model)
                </li>
                <li>
                    @Html.Partial("PartialViews/_CIMenu", Model)
                </li>
                <li>
                    @Html.Partial("PartialViews/_CDMenu", Model)
                </li>
                <li>
                    @Html.Partial("PartialViews/_MonitorMenu", Model)
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-7 pull-left">
        <div class="DevOpsMenuImages">
            @if (Model.MainMenu != null)
            {
                <img src="~/images/DevOps/Overview/DevOps.png" class="DevOpsInfinityImage" />
            }
            else if (Model.CodeMenu != null)
            {
                <img src="~/images/DevOps/Overview/DevOpsCode.png" class="DevOpsInfinityImage" />
            }
            else if (Model.CIMenu != null)
            {
                if (Model.CIMenu.MainHeader == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsCI.png" class="DevOpsInfinityImage" />
                }
                else if (Model.CIMenu.Section1 == true || Model.CIMenu.Section2 == true || Model.CIMenu.Section3 == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsBuild.png" class="DevOpsInfinityImage" />
                }
                else if (Model.CIMenu.Section4 == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsTest.png" class="DevOpsInfinityImage" />
                }
            }
            else if (Model.CDMenu != null)
            {
                if (Model.CDMenu.MainHeader == true || Model.CDMenu.Section1 == true || Model.CDMenu.Section7 == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsCD.png" class="DevOpsInfinityImage" />
                }
                else if (Model.CDMenu.Section2 == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsRelease.png" class="DevOpsInfinityImage" />
                }
                else if (Model.CDMenu.Section3 == true || Model.CDMenu.Section4 == true || Model.CDMenu.Section5 == true || Model.CDMenu.Section6 == true)
                {
                    <img src="~/images/DevOps/Overview/DevOpsDeploy.png" class="DevOpsInfinityImage" />
                }
            }
            else if (Model.MonitorMenu != null)
            {
                <img src="~/images/DevOps/Overview/DevOpsMonitor.png" class="DevOpsInfinityImage" />
            }
        </div>
    </div>
</div>
