@using SSNZ.DevOps.Web.Models
@model DevOpsMenu2ViewModel

@if (Model != null && Model.MonitorMenu != null && Model.MonitorMenu.MainHeader == true)
{
    <a href="@Url.Action("Monitor", "DevOps")" class="tocselected"><span class="tocnumber">5</span>&nbsp;<span>Monitor</span></a>
}
else
{
    <a href="@Url.Action("Monitor", "DevOps")"><span class="tocnumber">5</span>&nbsp;<span>Monitor</span></a>
}
<ul>
    @if (Model != null && Model.MonitorMenu != null && Model.MonitorMenu.Section1 == true)
    {
        <li>
            <a href="@Url.Action("MonitorAppInsightsSetup", "DevOps")" class="tocselected"><span class="tocnumber">5.1</span>&nbsp;<span>Setting up Application Insights</span></a>
            <ul>
                <li><a href="#1"><span class="tocnumber">5.1.1. </span>Overview</a></li>
                <li><a href="#2"><span class="tocnumber">5.1.2. </span>How to setup</a></li>
                <li><a href="#3"><span class="tocnumber">5.1.3. </span>Further reading</a></li>
                <li><a href="#4"><span class="tocnumber">5.1.4. </span>Version history</a></li>
            </ul>
        </li>
    }
    else
    {
        <li><a href="@Url.Action("MonitorAppInsightsSetup", "DevOps")"><span class="tocnumber">5.1</span>&nbsp;<span>Setting up Application Insights</span></a></li>
    }
    @if (Model != null && Model.MonitorMenu != null && Model.MonitorMenu.Section2 == true)
    {
        <li>
            <a href="@Url.Action("MonitorDashboards", "DevOps")" class="tocselected"><span class="tocnumber">5.2</span>&nbsp;<span>Setting up Azure DevOps Dashboards for "Single pane of glass"</span></a>
            <ul>
                <li><a href="#1"><span class="tocnumber">5.2.1. </span>Overview</a></li>
                <li><a href="#2"><span class="tocnumber">5.2.2. </span>How to setup the Application Insights widget</a></li>
                <li><a href="#3"><span class="tocnumber">5.2.3. </span>Further reading</a></li>
                <li><a href="#4"><span class="tocnumber">5.2.4. </span>Version history</a></li>
            </ul>
        </li>
    }
    else
    {
        <li><a href="@Url.Action("MonitorDashboards", "DevOps")"><span class="tocnumber">5.2</span>&nbsp;<span>Setting up Azure DevOps Dashboards for "Single pane of glass"</span></a></li>
    }
</ul>