@{
    Layout = "~/Views/Shared/_LayoutIntFootball.cshtml";
}

<div ng-controller="teamController">

    <h2><img ng-src="~/Content/IntFootball/Teams/{{team.FlagName}}" CssClass="TeamImage" />{{team.TeamName}}</h2>
    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Game #</th>
                    <th>Game Time</th>
                    <th>Round</th>
                    <th>Group Name</th>
                    <th>Round</th>
                    <th></th>
                    <th>Score</th>
                    <th></th>
                    <th>Location</th>
                    <th>Tournament</th>
                    <th>Coach</th>
                    @*<th>Fifa Ranking</th>*@
                </tr>
                <tr ng-repeat="item in games">
                    <td>{{item.GameNumber}}</td>
                    <td>{{item.GameTime | date:'dd-MMM-yyyy'}}</td>
                    <td>{{item.RoundNumber}}</td>
                    <td>{{item.RoundName}}</td>
                    <td>{{item.RoundCode}}</td>
                    <td style="text-align: right;">
                        <a href="/IntFootball/Team?TeamCode={{item.Team1Code}}">{{item.Team1Name}}</a>
                        <img ng-src="~/Content/IntFootball/Teams/{{item.Team1FlagName}}" CssClass="TeamImage" />
                    </td>
                    <td style="text-align: center;">
                        <div ng-if="item.Team1NormalTimeScore >= 0">
                            <span ng-if="!item.Team1ExtraTimeScore && !item.Team1PenaltiesScore">{{item.Team1NormalTimeScore}} - {{item.Team2NormalTimeScore}}</span>
                            <div ng-if="item.Team1ExtraTimeScore && item.Team1ExtraTimeScore >= 0">                                
                                <span>{{item.Team1NormalTimeScore + item.Team1ExtraTimeScore}} - {{item.Team2NormalTimeScore + item.Team2ExtraTimeScore}} (aet)</span>
                                <br />
                            </div>
                            <div ng-if="item.Team1PenaltiesScore && item.Team1PenaltiesScore >= 0">
                                <span>{{item.Team1NormalTimeScore + item.Team1ExtraTimeScore}} - {{item.Team2NormalTimeScore + item.Team2ExtraTimeScore}} (aet)</span>
                                <br />
                                {{item.Team1PenaltiesScore}} - {{item.Team2PenaltiesScore}} (penalties)
                            </div>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <img ng-src="~/Content/IntFootball/Teams/{{item.Team2FlagName}}" CssClass="TeamImage" />
                        <a href="/IntFootball/Team?TeamCode={{item.Team2Code}}">{{item.Team2Name}}</a>
                    </td>
                    <td>{{item.Location}}</td>
                    <td>{{item.TournamentName}}</td>
                    <td><img ng-src="~/Content/IntFootball/Teams/{{item.CoachFlag}}" CssClass="TeamImage" ng-if="item.CoachFlag != ''" />{{item.CoachName}}</td>                    
                </tr>
            </table>
        </div>
    </div>

    @*@Html.Partial("GamePartial", new SamSmithNZ2015.Models.IntFootball.GameViewModel(Model.GameList, true, false, false))*@

    @*@model SamSmithNZ2015.Models.IntFootball.GameViewModel

        <div id="divGames">
            <asp:CheckBox ID="chkShowGoals" runat="server" Text="Show Goal Details" AutoPostBack="true" />
            <table class="tableborders">

                @foreach (SamSmithNZ2015.Core.IntFootball.Game item in Model.GameList)
                {
                    SamSmithNZ2015.Models.IntFootball.GameResult result = SamSmithNZ2015.Models.IntFootball.GameViewModel.GetGameResult(item);
                    <tr>
                        @if (Model.ShowDebugElements == true)
                        {
                            <td>{{item.GameNumber</td>
                        }
                        <td>{{item.GameTime.ToString("d-MMM-yyyy")</td>
                        @if (Model.IsTeamVersion == true)
                        {
                            <td>{{item.RoundNumber</td>
                            <td>{{item.RoundName</td>
                        }
                        @if (Model.IsGroupVersion == false)
                        {
                            <td>{{item.RoundCode</td>
                        }
                        <td style="text-align: right;">
                            <a href="@Url.Action("Team", "IntFootball", new { teamCode = {{item.Team1Code })">{{item.Team1Name</a>
                            <img src="@Url.Content("~/Content/IntFootball/Teams/" + {{item.Team1FlagName)" CssClass="TeamImage" />
                        </td>
                        <td style="text-align: center;">
                            <span id="lblScore">@result.TeamScoresText</span>
                            @if (string.IsNullOrEmpty(result.TeamScoresText) == false)
                            {
                                <br />
                            }
                            <span id="lblExtra">@result.TeamExtrasText</span>
                            @if (string.IsNullOrEmpty(result.TeamExtrasText) == false)
                            {
                                <br />
                            }
                            <span id="lblPenalties">@result.TeamPenaltiesText</span>
                            @if (string.IsNullOrEmpty(result.TeamPenaltiesText) == false)
                            {
                                <br />
                            }
                        </td>
                        <td style="text-align: left;">
                            <img src="@Url.Content("~/Content/IntFootball/Teams/" + {{item.Team2FlagName)" CssClass="TeamImage" />
                            <a href="@Url.Action("Team", "IntFootball", new { teamCode = {{item.Team2Code })">{{item.Team2Name</a>
                        </td>
                        <td>{{item.Location</td>
                        @if (Model.IsGroupVersion == false)
                        {
                            <td>[Unknown]</td>
                            <td>[Unknown]</td>
                            <td>[Unknown]</td>
                        }
                    </tr>
                }
            </table>

        </div>*@


</div>
